<template>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6 report-item-list">
                <div class="report_list">
                    <div class="col-md-3">
                        <label class="">Select Price List</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" @change="changeList($event)" v-model="report_value">
                        	<option value="0" disabled selected>Select One</option>
                            <option value="all">All Price Codes</option>
                            <option value="price_a">Price A</option>
                            <option value="price_b">Price B</option>
                            <option value="price_c">Price C</option>
                            <option value="price_d">Price D</option>
                            <option value="">Sale Price(Items On Sale)</option>
                        </select>
                    </div>
                </div>
	            <div v-if="category"  class="category-list selected-panel">
                   <div class="col-md-3">
	                   <label>Select Category</label>
                   </div>
                   <div class="col-md-9">
	                   <vue-select v-model="form_data.category_value" :options="option_data.categories"  @select="onSelect"  placeholder="select one" label="text" track-by="text"></vue-select>
                   </div>
	            </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                   <div class="btn-report-wraper">
	                   <button style="border-radius: 5px;margin-top: 10px;" @click="viewReport(report_data)" type="button" class="btn btn-primary pull-left">submit</button>
                   </div>
                </div>
	        </div>
	        <div class="col-md-4"></div>
        </div>
	</div>
</template>

<script>
    import { required, email, minLength } from "vuelidate/lib/validators";

    export default {
    	data(){
    		return{
    			category:false,
                report_value:'',
                visable:true
    		}
    	},
        created(){
        	this.getList();
        },
        methods: {
        	getList(){
        		axios.get(URL.baseUrl("geilist"))
		        .then(res => {
		          this.form_data = res.data;
		          this.option_data = res.data;
		        })
		        .catch(error => {
		          this.showToster({status:0,message:'opps! something went wrong'});
		        })
        	},
        	changeList(e){
                this.report_data.item_value =this.report_value;
                this.report_data.colum ='category_id';
                this.visable = false;
                this.category = true;
                this.report_data.price_code_name = e.target.selectedOptions[0].innerText;
        	},
            onSelect (option) {
                this.report_data.by_id = option.id;
            }
        }
    }
    
</script>