<template>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6 report-item-list">
                <div class="report_list">
                    <h4>Invoice History</h4>
                    <ul>
                        <li> <label><input type="radio" @change="invoiceStatus" v-model="invoice_status" value="invoice_number">Short By Invoice Number</label></li>
                        <li> <label><input type="radio" @change="invoiceStatus" v-model="invoice_status" value="customer_name">Grouped By Customer Number</label></li>
                        <li><label><input type="radio" @change="invoiceStatus"  v-model="invoice_status" value="created_by">Grouped By SalesPerson</label></li>
                    </ul>
                </div>
	            <div class="form-group modify-input">
                    <div class="row">
                        <div style="padding-left: 0px;" class="col-md-6">
                            <div class="col-md-12">
                                <label class="control-label">From Date</label>
                            </div>
                            <div class="col-md-12">  
                                <div>
                                    <datepicker :format="customFormatterStart" placeholder="select date" v-model="report_data.start_date"></datepicker>
                                    <!-- <input type="date" name=""  v-model="report_data.start_date"> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="control-label">To Date</label>
                            </div>
                            <div class="col-md-12">  
                                <div>
                                    <datepicker :format="customFormatterEnd" placeholder="select date" v-model="report_data.ending_date"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding-left: 0px;" class="col-md-12">
	               <button style="border-radius: 5px;margin-top: 10px;" :disabled="visable"  @click="viewReport(report_data)" type="button" class="btn btn-primary pull-left">submit</button>
                </div>
	        </div>
	        <div class="col-md-4"></div>
        </div>
	</div>
</template>

<script>
    import { required, email, minLength } from "vuelidate/lib/validators";

    export default {
    	data(){
    		return{
                invoice_status:"invoice_number",
    			category:true,
    			vendor:false,
                report_status:1,
                visable:true
    		}
    	},
        created(){
            this.invoiceStatus();
        },
        methods: {
            invoiceStatus(){
                this.report_data.invoice_status = this.invoice_status;
            },
            buttonVisibile(){
                if(this.report_data.start_date && this.report_data.ending_date){
                    this.visable = false;
                }
            },
            customFormatterStart(date) {
                var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();


                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;
                this.report_data.date_start= [year, month, day].join('-');
                console.log(this.report_data.date_start);
                this.buttonVisibile();
                return moment(date).format('YYYY-MM-DD');
            },
            customFormatterEnd(date) {
                var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;
                this.report_data.date_ending= [year, month, day].join('-');
                this.buttonVisibile();
                return moment(date).format('YYYY-MM-DD');
            },
        	changeList(){
    			if(this.report_status == 1){
                    this.vendor = false;
                    this.category = true;
                    this.report_data.colum ='category_id';
    			}else{
    				this.category = false;
    				this.vendor = true;
                    this.report_data.colum ='vendor_id';
    			}
        	},
            onSelect (option) {
                this.report_data.by_id = option.id;
            }
        }
    }
    
</script>