<template>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6 report-item-list">
                <div class="col-md-3">
                    <label>Select Order</label>
                </div>
                <div class="col-md-9">
                    <select class="form-control" @change="changeList" v-model="report_value">
                        <option value="0">Select</option>
                        <option value="customer_order">Short By Customer Name</option>
                        <option value="customer_number">Short By Customer Number</option>
                    </select>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                   <div class="btn-report-wraper">
                       <button style="border-radius: 5px;margin-top: 10px;" :disabled="visable" @click="viewReport(report_data)" type="button" class="btn btn-primary pull-left">submit</button>
                   </div>
                </div>
            </div>
	        <div class="col-md-4"></div>
        </div>
	</div>
</template>

<script>
    import { required, email, minLength } from "vuelidate/lib/validators";

    export default {
    	data(){
    		return{
                report_value:0,
                visable:true
    		}
    	},
        created(){
        },
        methods: {
        	changeList(){
                this.visable = false;
                this.report_data.report_value =this.report_value;
        	}
        }
    }
    
</script>