<template>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6 report-item-list">
                <div class="selected-panel">
                    <div class="col-md-3">
                        <label class="">Select Vendor</label>
                    </div>
                    <div class="col-md-9">
                        <vue-select v-model="form_data.vendor_value" :options="option_data.vendors"  @select="onSelect"  placeholder="select one" label="text" track-by="text"></vue-select>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                   <div class="btn-report-wraper">
	                   <button style="border-radius: 5px;margin-top: 10px;" @click="viewReport(report_data)" type="button" class="btn btn-primary pull-left">submit</button>
                   </div>
                </div>
	        </div>
	        <div class="col-md-4"></div>
        </div>
	</div>
</template>

<script>
    import { required, email, minLength } from "vuelidate/lib/validators";

    export default {
    	data(){
    		return{
    		}
    	},
        created(){
            this.getList();
        },
        methods: {
            getList(){
                axios.get(URL.baseUrl("geilist"))
                .then(res => {
                  this.form_data = res.data;
                  this.option_data = res.data;
                })
                .catch(error => {
                  this.showToster({status:0,message:'opps! something went wrong'});
                })
            },
            onSelect (option) {
                this.report_data.by_id = option.id;
            }
        }
    }
    
</script>