<template>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6 report-item-list">
                <div class="report_list">
                    <div class="col-md-3" style="padding-left: 0px;">
                        <label class="">Select Category</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" @change="shortingList()" v-model="shorting_list_item">
                            <option value="0" disabled selected>Select One</option>
                            <option value="1">List Inventory Items</option>
                            <option value="2">List Categories Only</option>
                        </select>
                    </div>
                </div>
                <div v-if="shorting_list" class="shorting-list">
                    <div class="col-md-3">
                        <label class="">Select Item</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" @change="changeList($event)" v-model="report_value">
                        	<option value="0" disabled selected>Select One</option>
                            <option value="avg_cost">Using Average Cost</option>
                            <option value="last_cost">Using Last Cost</option>
                        </select>
                    </div>
                </div>
	            <div v-if="category"  class="category-list selected-panel">
                   <div class="col-md-3" style="padding-left: 0px;">
	                   <label>Select Category</label>
                   </div>
                   <div class="col-md-9">
	                   <vue-select v-model="form_data.category_value" :options="option_data.categories"  @select="onSelect"  placeholder="select one" label="text" track-by="text"></vue-select>
                   </div>
	            </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                   <div class="btn-report-wraper">
	                   <button style="border-radius: 5px;margin-top: 10px;" :disabled="visable" @click="viewReport(report_data)" type="button" class="btn btn-primary pull-left">submit</button>
                   </div>
                </div>
	        </div>
	        <div class="col-md-4"></div>
        </div>
	</div>
</template>

<script>
    import { required, email, minLength } from "vuelidate/lib/validators";

    export default {
    	data(){
    		return{
    			category:false,
                shorting_list:false,
                report_value:0,
                shorting_list_item:0,
                visable:true
    		}
    	},
        created(){
        	this.getList();
        },
        methods: {
        	getList(){
        		axios.get(URL.baseUrl("geilist"))
		        .then(res => {
		          this.form_data = res.data;
		          this.option_data = res.data;
		        })
		        .catch(error => {
		          this.showToster({status:0,message:'opps! something went wrong'});
		        })
        	},
            shortingList(){
                this.shorting_list = true;
                this.report_data.shorting_list_item = this.shorting_list_item;
            },
        	changeList(e){
                this.report_data.item_value =this.report_value;
                this.category = true;
                this.visable = false;
                this.report_data.shorting_name = e.target.selectedOptions[0].innerText;
        	},
            onSelect (option) {
                this.report_data.by_id = option.id;
            }
        }
    }
    
</script>