<template>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6 report-item-list">
                <div class="col-md-3">
                    <label class="">Select List</label>
                </div>
                <div class="col-md-9">
                    <vue-select v-model="form_data.salespersons_value" :options="option_data.salespersons" @select="onSelect"  placeholder="select one" label="text" track-by="text"></vue-select>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                   <div class="btn-report-wraper">
	                   <button :disabled="visable" style="border-radius: 5px;margin-top: 10px;"  @click="viewReport(report_data)" type="button" class="btn btn-primary pull-left">submit</button>
                   </div>
                </div>
	        </div>
	        <div class="col-md-4"></div>
        </div>
	</div>
</template>

<script>
    import { required, email, minLength } from "vuelidate/lib/validators";

    export default {
    	data(){
    		return{
                report_value:'number',
                visable:true
    		}
    	},
        created(){
            this.getSalesPersons();
        },
        methods: {
            getSalesPersons(){
                axios.get(URL.baseUrl('getsalespersons/report'))
                .then(res => {
                    this.form_data=res.data;
                    this.option_data = res.data;
                    console.log(this.form_data);
                })
                .catch(error => {
                    console.log(error);               
                });
            },
            onSelect (option) {
                this.report_data.by_id = option.id;
                console.log(this.report_data.by_id);
                if(this.report_data.by_id !=''){
                    this.visable = false;
                }
            }
        }
    }
    
</script>