<template>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6 report-item-list">
                <div class="col-md-3">
                    <label class="">Select List</label>
                </div>
                <div class="col-md-9">
                    <select class="form-control" @change="changeList($event)" v-model="report_value">
                    	<option value="0" disabled selected>Select One</option>
                        <option value="customer_number">Short By Number</option>
                        <option value="customer_name">Short By Name</option>
                    </select>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                   <div class="btn-report-wraper">
	                   <button style="border-radius: 5px;margin-top: 10px;" @click="viewReport(report_data)" type="button" class="btn btn-primary pull-left">submit</button>
                   </div>
                </div>
	        </div>
	        <div class="col-md-4"></div>
        </div>
	</div>
</template>

<script>
    import { required, email, minLength } from "vuelidate/lib/validators";

    export default {
    	data(){
    		return{
                report_value:'customer_name',
                visable:true
    		}
    	},
        created(){
            this.report_data.item_value ='customer_name';
            this.report_data.shorting_name ='Short By Number';
        },
        methods: {
        	changeList(e){
                this.report_data.item_value =this.report_value;
                this.report_data.shorting_name =e.target.selectedOptions[0].innerText;
                this.visable = false;
        	}
        }
    }
    
</script>