<template>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-6 report-item-list">
                <div class="report_list">
                    <h4>Accounting Priord For This Report</h4>
                    <ul>
                        <li> <label><input type="radio" @change="getPeriod"  v-model="period_status" value="1">Daily</label></li>
                        <li> <label><input type="radio" @change="getPeriod" v-model="period_status" value="2">Monthly</label></li>
                        <li> <label><input type="radio" @change="getPeriod" v-model="period_status" value="3">Year-To-Date</label></li>
                        <li><label><input type="radio" @change="getPeriod"  v-model="period_status" value="0">Include All</label></li>
                    </ul>
                    <h4>Print By</h4>
                    <div class="report-type">
                        <label><input type="radio" v-model="report_status" @change="changeList" value="1">Catgory</label>
                        <label><input type="radio" v-model="report_status" @change="changeList" value="0">Vendor</label>
                    </div>
                </div>
	            <div v-if="category" class="category-list selected-panel">
                    <div style="padding-left: 0px;" class="col-md-3">
	                   <label>Select Category</label>
                    </div>
                    <div class="col-md-9">
	                   <vue-select v-model="form_data.category_value" :options="option_data.categories"  @select="onSelect"  placeholder="select one" label="text" track-by="text"></vue-select>
                    </div>
	            </div>
	            <div style="padding-left: 0px;" v-if="vendor"  class="vendor-list selected-panel">
                    <div class="col-md-3">
	            	  <label>Select Vendor</label>
                    </div>
                    <div class="col-md-9">
	                   <vue-select v-model="form_data.vendor_value" :options="option_data.vendors"  @select="onSelect"  placeholder="select one" label="text" track-by="text"></vue-select>
                    </div>
	            </div>
                <div style="padding-left: 0px;" class="col-md-12">
	               <button style="border-radius: 5px;margin-top: 10px;"  @click="viewReport(report_data)" type="button" class="btn btn-primary pull-left">submit</button>
                </div>
	        </div>
	        <div class="col-md-4"></div>
        </div>
	</div>
</template>

<script>
    import { required, email, minLength } from "vuelidate/lib/validators";

    export default {
    	data(){
    		return{
                period_status:0,
    			category:true,
    			vendor:false,
                report_status:1,
                visable:true
    		}
    	},
        created(){
        	this.getList();
        },
        methods: {
        	getList(){
        		axios.get(URL.baseUrl("geilist"))
		        .then(res => {
		          this.form_data = res.data;
		          this.option_data = res.data;
                  this.report_data.colum ='category_id';
		        })
		        .catch(error => {
		          this.showToster({status:0,message:'opps! something went wrong'});
		        })
        	},
            getPeriod(){
                this.report_data.period_status = this.period_status;
            },
        	changeList(){
                console.log(this.report_status);
    			if(this.report_status == 1){
                    this.vendor = false;
                    this.category = true;
                    this.report_data.colum ='category_id';
    			}else{
    				this.category = false;
    				this.vendor = true;
                    this.report_data.colum ='vendor_id';
    			}
                this.visable = false;
        	},
            onSelect (option) {
                this.report_data.by_id = option.id;
            }
        }
    }
    
</script>