<template>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6 report-item-list">
                <div class="report_list">
                    <div class="col-md-3">
                        <label>Select List</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" @change="changeList($event)" v-model="report_value">
                            <option value="0" disabled selected>Select One</option>
                            <option value="inv_code">Short By Item Number</option>
                            <option value="inv_product_name">Short By Item Description</option>
                            <option value="3">Short By Category</option>
                            <option value="4">Short By Vendor</option>
                        </select>
                    </div>
                </div>
                <div v-if="category"  class="category-list selected-panel">
                   <div class="col-md-3">
                       <label>Select Category</label>
                    </div>
                    <div class="col-md-9">
                       <vue-select v-model="form_data.category_value" :options="option_data.categories"  @select="onSelect"  placeholder="select one" label="text" track-by="text"></vue-select>
                    </div>
                </div>
                <div v-if="vendor"  class="vendor-list selected-panel">
                    <div class="col-md-3">
                      <label>Select Vendor</label>
                    </div>
                    <div class="col-md-9">
                       <vue-select v-model="form_data.vendor_value" :options="option_data.vendors"  @select="onSelect"  placeholder="select one" label="text" track-by="text"></vue-select>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-9">
                   <button style="border-radius: 5px;margin-top: 10px;" :disabled="visable" @click="viewReport(report_data)" type="button" class="btn btn-primary pull-left">submit</button>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</template>

<script>
    import { required, email, minLength } from "vuelidate/lib/validators";

    export default {
        data(){
            return{
                category:false,
                vendor:false,
                report_value:0,
                visable:true
            }
        },
        created(){
            this.getList();
        },
        methods: {
            getList(){
                axios.get(URL.baseUrl("geilist"))
                .then(res => {
                  this.form_data = res.data;
                  this.option_data = res.data;
                })
                .catch(error => {
                  this.showToster({status:0,message:'opps! something went wrong'});
                })
            },
            changeList(e){
                this.report_data.shorting_name =e.target.selectedOptions[0].innerText;
                if(this.report_value == 3 || this.report_value == 4){
                    if(this.report_value == 3){
                        this.vendor = false;
                        this.category = true;
                        this.report_data.item_value ='category_id';
                    }else{
                        this.category = false;
                        this.vendor = true;
                        this.report_data.item_value ='vendor_id';
                    }
                }else{
                    this.vendor = false;
                    this.category = false;
                    this.report_data.item_value =this.report_value;
                    if(this.report_data.by_id){
                        this.report_data.by_id = "";
                    }
                }
                this.visable = false;
            },
            onSelect (option) {
                this.report_data.by_id = option.id;
            }
        }
    }
    
</script>