<template>
	<div>
		<div v-if="page_loading" class="widget box">
	        <div class="widget-header">
	            <h4><i class="icon-reorder"></i>Customer</h4>
	            
	            <div class="toolbar no-padding">
	                <div @click="getModalData($event,{dataUrl:'create/customer'},itemCodeVisible)" class="btn-group"><span class="btn btn-xs btn-info"><i class="icon-plus"></i>Add New</span></div>


	                <div class="btn-group" @click="reload"><span class="btn btn-xs"><i class="icon-refresh"> </i></span> </div>
	                <modal name="myModal" width="800" height="auto" :clickToClose="false">
	                    <div v-if="modal_loading">
	                        <div class="widget-header set-widget-padding">
	                            <h4><i class="icon-reorder"></i>Customer</h4>
	                            <button type="button" @click="hideModal" class="close close-modify" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                        </div>
	                        <div class="modify-wraper pos-line-set">
	                                <form @submit.prevent="add({add:'add/customer'})" class="form-horizontal  row-border" id="validate-1">
	                                    <div class="my-form-wraper">
	                                        <div v-if="errors" class="alert alert-danger">
	                                            <div v-for="(error, index) in errors">
	                                                <span v-if="isObject(error)" v-for="err in error">{{err}}</span>
	                                                <span v-if="!isObject(error)">{{error}}</span>
	                                            </div>
	                                        </div>
	                                        <div class="upper-part">
	                                        	<div class="row">
		                                        	<div class="col-md-7">
				                                        <div class="form-group modify-input">
				                                            <label class="col-md-3 control-label">Customer #</label>
				                                            <div class="col-md-6" :class="{ 'has-error': $v.form_data.customer_number.$error }">
				                                            	{{$v.form_data.customer_number.$touch()}}
				                                                <input v-model="form_data.customer_number" type="text" class="form-control required" placeholder="customer">
				                                            </div>
				                                        </div>
				                                        <div class="form-group modify-input">
				                                            <label class="col-md-3 control-label">Name</label>
				                                            <div class="col-md-9" :class="{ 'has-error': $v.form_data.customer_name.$error }">
				                                            	{{$v.form_data.customer_name.$touch()}}
				                                                <input v-model="form_data.customer_name" type="text" class="form-control required" placeholder="Name">
				                                            </div>
				                                        </div>
				                                        <div class="form-group modify-input">
				                                            <label class="col-md-3 control-label">Contact</label>
				                                            <div class="col-md-9">
				                                                <input v-model="form_data.customer_contact" type="text" class="form-control required" placeholder="Contact">
				                                            </div>
				                                        </div>
				                                    </div>
				                                    <div class="col-md-7">
				                                    	<div class="form-group modify-input">
			                                        		<label class="col-md-3 control-label">Address</label>
				                                            <div class="col-md-9">	
					                                            <textarea v-model="form_data.customer_address" type="text" class="form-control required textarea-height-set" placeholder="Address"></textarea>
				                                            </div>
				                                        </div>
				                                    </div>
			                                    </div>
	                                        </div>
	                                 		<div class="lower-part">
	                         					<div class="row">
	                         						<div class="col-md-4">
	                         							<div class="form-group modify-input">
		                         							<label class="col-md-6 control-label city-label">Phone</span></label>
				                                            <div class="col-md-6 set-left-padding">
				                                                <input v-model="form_data.customer_phone" type="text" class="form-control required" placeholder="Phone">
				                                            </div>
			                                        	</div>
	                         						</div>
	                         						<div class="col-md-3">
	                         							<div class="form-group modify-input">
	                         								<label class="col-md-4 fax control-label">Fax</label>
				                                            <div class="col-md-8 set-left-padding">
				                                                <input v-model="form_data.customer_fax" type="text" class="form-control required" placeholder="Fax">
				                                            </div>
	                         							</div>
	                         						</div>
	                         					</div>
	                         					<div class="row">
	                         						<div class="col-md-6">
	                         							<div class="form-group modify-input">
	                         								<label class="col-md-4 control-label">Email</label>
				                                            <div class="col-md-8 set-left-padding" >
				                                                <input v-model="form_data.customer_email" type="text" class="form-control required" placeholder="Email">
				                                            </div>
	                         							</div>
	                         						</div>
	                         						<!-- <div class="col-md-6">
	                         							<div class="form-group modify-input">
	                         								<label class="col-md-6 control-label city-label">Price Code[ABCD]</label>
				                                            <div class="col-md-6" >
				                                               <select v-model="form_data.customer_price_code">
				                                               		<option value="1">A</option>
				                                               		<option value="2">B</option>
				                                               		<option value="3">C</option>
				                                               		<option value="4">D</option>
				                                               </select>
				                                            </div>
	                         							</div>
	                         						</div> -->
	                         						<div class="col-md-1"></div>
	                         						<div v-if="form_data.id" class="col-md-5">
	                         							<div class="form-group modify-input">
				                                            <label class="col-md-4 control-label" style="padding-right: 0px;">Last Purchage</label>
				                                            <div class="col-md-8">
				                                                <input  v-model="form_data.customer_last_date_purchage" type="text" class="form-control required" placeholder="Date" readonly>
				                                               <!--  <datepicker :format="dateFormat"  placeholder="dd/mm/yyyy" v-model="form_data.customer_last_date_purchage" required></datepicker> -->
				                                            </div>
			                                        	</div>
	                         						</div>
	                         					</div>
	                         					<div class="row">
	                         						<div class="col-md-5">
	                         							<div class="form-group modify-input">
	                         								<label class="col-md-5 control-label city-label">Tax Exempt</label>
		                         							<div class="col-md-7" >
				                                               <input  type="checkbox" name="text_exempt">
				                                            </div>
			                                            </div>
	                         						</div>
	                         						<div class="col-md-2"></div>
	                         						<div class="col-md-5">
	                         							<div class="form-group modify-input">
				                                            <label class="col-md-4 control-label">Sales Tax #</label>
				                                            <div class="col-md-8">
				                                                <input v-model="form_data.customer_sales_tax_number" type="text" class="form-control required" placeholder="Tax">
				                                            </div>
			                                        	</div>
	                         						</div>
	                         					</div>
	                                        	<div class="row">
	                                        		<div class="col-md-12">
		                                        		<div class="form-group modify-input">
		                                        			<div class="vendor-table pos">
			                                        	 		<h5>Sales Tax</h5>
			                                        	 		<div class="col-md-12">
			                                        	 			<div class="table-border post-table">
					                                        	 		<table >
					                                        	 			<tbody>
					                                        	 				<tr>
					                                        	 					<td>
					                                        	 						<input @change="itemCodeVisible" v-model='form_data.non_taxable_customer' type="checkbox" true-value="1" false-value="0" name="text_exempt">
					                                        	 						Change Special Tax Rate
					                                        	 					</td>
					                                        	 					<td>
					                                        	 						<label>
					                                        	 						1) <input :disabled="codeVisible" v-model="form_data.item_tax_code_1" type="radio" :value="option_data.items_tax_code_1">{{option_data.items_tax_code_1}}%
					                                        	 						</label>
					                                        	 					</td>
					                                        	 					<td>
					                                        	 						<label>
					                                        	 						1) <input :disabled="codeVisible" v-model="form_data.item_tax_code_1" type="radio" :value="option_data.items_tax_code_2">{{option_data.items_tax_code_2}}%
					                                        	 						</label>
					                                        	 					</td>
					                                        	 					<td>
					                                        	 						<label>
					                                        	 						3) <input :disabled="codeVisible" v-model="form_data.item_tax_code_1" type="radio" :value="option_data.items_tax_code_3">{{option_data.items_tax_code_3}}%
					                                        	 						</label>
					                                        	 					</td>
					                                        	 					<td>
					                                        	 						<label>
					                                        	 						4) <input :disabled="codeVisible" v-model="form_data.item_tax_code_1" type="radio" :value="option_data.items_tax_code_4">{{option_data.items_tax_code_4}}%
					                                        	 						</label>
					                                        	 					</td>
					                                        	 				</tr>
					                                        	 			</tbody>
					                                        	 		</table>
				                                        	 		</div>
			                                        	 		</div>
		                                        	 		</div>
		                                        	 	</div>
	                                        	 	</div>
	                                        	</div>
	                                        	<!-- <div class="row">
	                                        		<div class="col-md-12">
		                                        		<div class="form-group modify-input">
		                                        			<div class="vendor-table pos">
			                                        	 		<h5 style="background: #e3e3e3;top: 0px;">Account Receiveable</h5>
			                                        	 		<div class="col-md-12">
			                                        	 			<div class="accout-bg">
				                                        	 			<div class="table-border post-table">
						                                        	 		<div class="col-md-3">
						                                        	 			<input v-model="form_data.allow_ar" true-value="1" false-value="0" type="checkbox" name="text_exempt">Allow AR Sales
						                                        	 		</div>
						                                        	 		<div class="col-md-5">
						                                        	 			<input v-model="form_data.charge_interest" true-value="1" false-value="0" type="checkbox" name="">Charge Interest On past Due Statement
						                                        	 		</div>
						                                        	 		<div class="col-md-4">
									                                            <label class="col-md-6 control-label label-rignt" style="padding: 0px;font-weight: 400;">Credit Limit</label>
									                                            <div class="col-md-6" style="padding-right: 0px;">
									                                                <input v-model="form_data.customer_credit_limit" style="text-align: right;" type="text" class="form-control required" placeholder="$0.00">
									                                            </div>
						                                        	 		</div>
					                                        	 		</div>
				                                        	 		</div>
			                                        	 		</div>
		                                        	 		</div>
		                                        	 	</div>
	                                        	 	</div>
	                                        	</div> -->
	                                        	<div class="row">
	                                        		<div class="col-md-6">
		                                        		<div class="form-group modify-input">
		                                        			<div class="vendor-table">
			                                        	 		<h5>Total Purchases</h5>
			                                        	 		<div class="col-md-12">
			                                        	 			<div class="table-border">
					                                        	 		<table >
					                                        	 			<thead>
					                                        	 				<td>Daily</td>
					                                        	 				<td>Monthly</td>
					                                        	 				<td>Year To Date</td>
					                                        	 			</thead>
					                                        	 			<tbody>
					                                        	 				<tr>
					                                        	 				  <td v-if="form_data.customer_purchage_1">{{form_data.customer_purchage_1}}</td>
					                                        	 				  <td v-else>$0.00</td>
					                                        	 				  <td v-if="form_data.customer_purchage_2">{{form_data.customer_purchage_2}}</td>
					                                        	 				  <td v-else>$0.00</td>
					                                        	 				  <td v-if="form_data.customer_purchage_3">{{form_data.customer_purchage_3}}</td>
					                                        	 				  <td v-else>$0.00</td>
					                                        	 				</tr>
					                                        	 			</tbody>
					                                        	 		</table>
				                                        	 		</div>
			                                        	 		</div>
		                                        	 		</div>
		                                        	 	</div>
	                                        	 	</div>
	                                        		<div class="col-md-6">
	                                        			<div class="form-group modify-input">
		                                        			<label class="col-md-12 control-label city-label">Comments</span></label>
				                                            <div class="col-md-12 city-field">	
					                                            <textarea v-model="form_data.customer_comment" type="text" class="form-control required textarea-height-set" placeholder="comments"></textarea>
				                                            </div>
			                                        	</div>
	                                        		</div>
	                                        	</div>
	                                 		</div>
	                                    </div>
	                                        <div class="form-actions pos-action">
	                                            <input type="submit" :disabled="isComplete" value="Submit" class="btn btn-primary pull-right pos-button">
	                                            <button type="button" @click="hideModal" class="btn btn-default pull-right pos-button">Close</button>
	                                        </div>
	                                </form>
	                        </div>
	                    </div>
	                    <div v-if="!modal_loading">
	                        <pageLoading></pageLoading>
	                    </div>  
	                </modal>
	            </div>
	        </div>
	        <div class="widget-content size-table-layout">
	            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
	                <div class="row">
	                    <div class="dataTables_header clearfix">
	                        <div class="col-md-6">
	                            <div id="DataTables_Table_0_length" class="">
	                                <label>
	                                    <select class="form-control" @change="onChange($event)" v-model="paginate_num"  name="pageSize">
	                                    	<option value="10">10</option>
	                                        <option value="25">25</option>
	                                        <option value="50">50</option>
	                                    	<option value="100">100</option>
	                                    </select>
	                                </label>
	                            </div>
	                        </div>
	                        <div class="col-md-6">
	                            <div class="dataTables_filter" id="DataTables_Table_0_filter">
	                                <label>
	                                    <div class="input-group"><span class="input-group-addon"><i class="icon-search"></i></span>
	                                        <input v-on:keyup="getResults" v-model="search_input.search_key" type="text" aria-controls="DataTables_Table_0" class="form-control" id="search"  placeholder="Enter keyword...">
	                                    </div>
	                                </label>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	        
	                <table class="table table-striped table-bordered table-hover">
	                    <thead>
	                        <tr>
	                            <td style="width: 5%;">No.</td>
	                            <td class="sortable" v-bind:class="getSortingClass('customer_number')" @click="sortingChanged('customer_name')">
	                                Customer #
	                            </td>
	                            <td class="sortable" v-bind:class="getSortingClass('customer_name')" @click="sortingChanged('customer_name')">
	                                Customer name
	                            </td>
	                            <td>
	                                Customer Address
	                            </td>
	                            <td class="sortable" v-bind:class="getSortingClass('customer_phone')" @click="sortingChanged('customer_phone')">
	                                Phone
	                            </td>
	                            <td>Action</td>
	                        </tr>
	                    </thead>
	                    <tbody v-if="Object.keys(paginate_data.data).length > 0">
	                        <tr v-for="(list, index) in paginate_data.data" v-bind:key="list.id">
	                            <td>{{order_no + index + 1}}</td>
	                            <td>{{list.customer_number}}</td>
	                            <td>{{list.customer_name}}</td>
	                            <td>{{list.customer_contact }}</td>
	                            <td>{{list.customer_phone}}</td>
	                            <td style="width: 20%;" class="action">
	                            	<button @click="getModalData($event,{dataUrl:'edit/customer/'+list.id},itemCodeVisible)" class="btn-xs btn-info" title="" data-original-title="Edit" data-toggle="modal" data-target="#myModal"><i class="icon-edit"></i> Edit</button>
	                            	<button @click="deleteItem({delUrl:'delete/customer/'+list.id})" class="btn-xs btn-danger" title="" data-original-title="Delete"><i class="icon-trash"></i> Delete</button>
	                            </td>
	                        </tr>   
	                    </tbody>
	                    <tbody v-else>
	                        <tr>
	                            <td colspan="9" align="center">No data in database</td>
	                        </tr>
	                    </tbody>
	                </table>
	        
	        
	                <div class="row">
	                    <div class="dataTables_footer clearfix">
	                        <div class="col-md-6">
	                            <div class="dataTables_info" id="DataTables_Table_0_info">Showing {{paginate_data.current_page}} of {{paginate_data.last_page}} pages</div>
	                        </div>
	                        <div class="col-md-6">
	                            <div class="dataTables_paginate paging_bootstrap">
	                                <pagination :data="paginate_data" :limit="2" @pagination-change-page="getResults"></pagination>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
    	</div>
    	<div v-if="!page_loading">
	        <pageLoading></pageLoading>
	    </div>
	</div>
</template>

<script>
    import { required} from "vuelidate/lib/validators";

    export default {
    	data(){
    		return{
    			codeVisible:''
    		}
    	},
    	validations: {
          form_data: {
            customer_number: { required },
            customer_name: { required }
          }
        },
    	created(){
            this.getResults(1);
        },
        methods:{
        	itemCodeVisible(){
        		if(this.form_data.non_taxable_customer == 1){
        			this.codeVisible = false;
        		}else{
        			this.codeVisible = true;
        			if(this.form_data.item_tax_code_1){
        				this.form_data.item_tax_code_1 = 0;
        			}
        		}
        	}
        }
    }
</script>