<template>
  <div>
    <div v-if="page_loading" class="widget box">
          <div class="widget-header">
              <h4><i class="icon-reorder"></i>Inventory</h4>

              <div class="toolbar no-padding ">
                  <div @click="getModalData($event,{dataUrl:'inventory_item/create'},resetModal)" class="btn-group"> <span class="btn btn-xs btn-info"><i class="icon-plus"></i>Add New</span></div>

                  <div class="btn-group"> <span class="btn btn-xs  widget-collapse"><i class="icon-refresh"> </i></span> </div>
                  <modal name="myModal" width="900" height="auto" :clickToClose="false">
                      <div v-if="modal_loading">
                          <div class="widget-header">
                              <h4><i class="icon-reorder"></i>Inventory Form</h4>
                               <button type="button" @click="hideModal" class="close close-modify" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          </div>
                          <div class="modify-wraper pos-line-set">
                              <form @submit.prevent="add({add:'inventory_item/add'},resetModal)" class="form-horizontal  row-border" id="validate-1">
                                  <div class="pos-form-wraper">
                                      <div v-if="errors" class="alert alert-danger">
                                          <div v-for="(error, index) in errors">
                                              <span v-if="isObject(error)" v-for="err in error">{{err}}</span>
                                              <span v-if="!isObject(error)">{{error}}</span>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                              <div class="form-group modify-input">
                                                  <label class="col-md-4 control-label" for="inv_item">Item#</label>
                                                  <div class="col-md-8">
                                                      <!-- {{$v.form_data.inv_code.$touch()}} -->
                                                      <input v-model="form_data.inv_code" v-on:keyup="sibmitVisible" type="text"  id="inv_item" class="form-control required">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="form-group modify-input">
                                                  <label class="col-md-3 control-label" for="inv_alt">Alt#</label>
                                                  <div class="col-md-9">
                                                      <input v-model="form_data.inv_alt_code" type="text"  id="inv_alt" class="form-control">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="form-group modify-input selected-panel for-inv-item">
                                                  <label class="col-md-4 control-label" for="inv_category">Category</label>
                                                  <div class="col-md-8" >
                                                      <vue-select v-model="category_value" :options="option_data.category_data" @select="onSelect" placeholder="Select one" label="text" track-by="text"></vue-select>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-8">
                                              <div class="form-group modify-input" style="margin-top: 3px;">
                                                  <label class="col-md-2 control-label" for="inv_des">Description </label>
                                                  <div class="col-md-10" >
                                                      <!-- {{$v.form_data.inv_product_name.$touch()}} -->
                                                      <input v-model="form_data.inv_product_name" type="text" id="inv_des" v-on:keyup="sibmitVisible" class="form-control  required">
                                                  </div>
                                              </div>
                                          </div>

                                          <div class="col-md-4">
                                              <div class="form-group modify-input selected-panel for-inv-item">
                                                  <label class="col-md-4 control-label" for="inv_vendor">Vendor</label>
                                                  <div class="col-md-8">
                                                      <vue-select v-model="vendor_value" :options="option_data.vendor_data" @select="onVendor" placeholder="Select one" label="text" track-by="text"></vue-select>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4">
                                             <div class="form-group modify-input" style="line-height: 5px;">
                                                 <div col-md-2></div>
                                                 <label class="col-md-6 control-label" for="inv_serial">Sell By Serial</label>
                                                 <div class="col-md-4">
                                                   <input type="checkbox" v-on:click="seen=!seen" id="inv_serial" v-model="form_data.serial_check" true-value="1" false-value="0" >

                                                    </label>
                                                 </div>
                                             </div>
                                          </div>
                                          <div class="col-md-8">
                                            <div v-if="seen" style="margin: 4px 0px">
                                              <tags-input element-id="tags" v-model="form_data.selectedTags"></tags-input>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group modify-input">
                                                  <label class="col-md-4 control-label"  for="inv_hand">Qty Hand</label>
                                                  <div class="col-md-4">
                                                      <!-- {{$v.form_data.qty_hand.$touch()}} -->
                                                      <input v-model="form_data.qty_hand" type="text" v-on:keyup="AvgCost()" id="inv_hand" class="form-control  required">
                                                  </div>
                                                  <div col-md-4 ></div>
                                              </div>
                                          </div>

                                          <div class="col-md-6">
                                            <div class="form-group modify-input">
                                                <div class="col-md-3"></div>
                                                <label class="col-md-4 control-label" for="inv_order">Qty On Order</label>
                                                <div class="col-md-5">
                                                    <input v-model="form_data.qty_order" type="text" id="inv_order" class="form-control">
                                                </div>

                                            </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group modify-input" style="margin-top: 3px;">
                                                  <label class="col-md-4 control-label" for="inv_level">Reorder Level </label>
                                                  <div class="col-md-4">
                                                      <input v-model="form_data.reorder_level" type="text" id="inv_level" class="form-control">
                                                  </div>
                                                  <div col-md-4 ></div>
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group modify-input" style="margin-top: 3px;">
                                                <div class="col-md-3"></div>
                                                <label class="col-md-4 control-label" for="inv_record">Reorder Qty</label>
                                                <div class="col-md-5">
                                                    <input v-model="form_data.reorder_qty" type="text" id="inv_record" class="form-control">
                                                </div>

                                            </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group modify-input" style="margin-top: 3px;margin-bottom: 3px;">
                                                  <label class="col-md-4 control-label" for="inv_last_cost">Last Cost </label>
                                                  <div class="col-md-4">
                                                      <!-- {{$v.form_data.last_cost.$touch()}} -->
                                                      <input v-model="form_data.last_cost" v-on:keyup="AvgCost()" id="inv_last_cost" type="text" class="form-control  required">
                                                  </div>
                                                  <div col-md-4 ></div>
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group modify-input" style="margin-top: 3px;margin-bottom: 3px;">
                                                <div class="col-md-3"></div>
                                                <label class="col-md-4 control-label" for="inv_avg_cost">Avg Cost</label>
                                                <div class="col-md-5">
                                                  <input v-model="avg_cost_value" type="text" id="inv_avg_cost" class="form-control">
                                                </div>

                                            </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-2" >Markup</div>
                                        <div class="col-md-10">
                                          <div class="form-group modify-input">
                                            <div class="row">
                                              <div class="col-md-3">
                                                <div class="row">
                                                  <label class="col-md-2 control-label" for="inv_markup_a">A)</label>
                                                  <div class="col-md-8 in-item-right-padding set-left-padding">
                                                    <input v-model="a_markup_value" type="text"  v-on:keyup="SalePrice()" id="inv_markup_a" class="form-control  required text-right">
                                                  </div>
                                                  <span class="col-md-1 set-left-padding">%</span>
                                                </div>
                                              </div>
                                              <div class="col-md-3">
                                                <div class="row">
                                                <label class="col-md-2 control-label" for="inv_markup_b">B)</label>
                                                <div class="col-md-8 in-item-right-padding set-left-padding">
                                                  <input v-model="b_markup_value" v-on:keyup="SalePrice()" type="text" id="inv_markup_b" class="form-control text-right">
                                                </div>
                                                <span class="col-md-1 set-left-padding">%</span>
                                                </div>
                                              </div>
                                              <div class="col-md-3">
                                                <div class="row">
                                                  <label class="col-md-2 control-label" for="inv_markup_c">C)</label>
                                                  <div class="col-md-8 in-item-right-padding set-left-padding">
                                                    <input v-model="c_markup_value" v-on:keyup="SalePrice()" type="text" id="inv_markup_c" class="form-control text-right">
                                                  </div>
                                                  <span class="col-md-1 set-left-padding">%</span>
                                                </div>
                                              </div>
                                              <div class="col-md-3">
                                                <div class="row">
                                                  <label class="col-md-2 control-label" for="inv_markup_d">D)</label>
                                                  <div class="col-md-8 in-item-right-padding set-left-padding">
                                                    <input v-model="d_markup_value" v-on:keyup="SalePrice()" type="text" id="inv_markup_d" class="form-control text-right">
                                                  </div>
                                                  <span class="col-md-1 set-left-padding">%</span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-2">Price</div>
                                        <div class="col-md-10">
                                          <div class="form-group modify-input">
                                            <div class="row">
                                              <div class="col-md-3">
                                                <div class="row">
                                                  <label class="col-md-2 control-label" for="inv_price_a">A)</label>
                                                  <div class="col-md-8 in-item-right-padding set-left-padding">
                                                      <input v-model="a_price_value"  type="text" v-on:keyup="MarkupParcent()" id="inv_price_a" class="form-control text-right">
                                                  </div>
                                                  <div class="col-md-1"></div>
                                                </div>
                                              </div>
                                              <div class="col-md-3">
                                                <div class="row">
                                                <label class="col-md-2 control-label" for="inv_price_b">B)</label>
                                                <div class="col-md-8 in-item-right-padding set-left-padding">
                                                    <input v-model="b_price_value" type="text" id="inv_price_b"  v-on:keyup="MarkupParcent()" class="form-control text-right">
                                                </div>
                                                <div class="col-md-1"></div>
                                                </div>
                                              </div>
                                              <div class="col-md-3">
                                                <div class="row">
                                                <label class="col-md-2 control-label" for="inv_price_c">C)</label>
                                                <div class="col-md-8 in-item-right-padding set-left-padding">
                                                    <input v-model="c_price_value" type="text" id="inv_price_c"  v-on:keyup="MarkupParcent()" class="form-control text-right">
                                                </div>
                                                <div class="col-md-1"></div>
                                                </div>
                                              </div>
                                              <div class="col-md-3">
                                                <div class="row">
                                                <label class="col-md-2 control-label" for="inv_price_d">D)</label>
                                                <div class="col-md-8 in-item-right-padding set-left-padding">
                                                    <input v-model="d_price_value" type="text" id="inv_price_d"  v-on:keyup="MarkupParcent()" class="form-control text-right">
                                                </div>
                                                <div class="col-md-1"></div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-8">
                                          <div class="salesman-table">
                                             <h5 >Sale Price</h5>
                                              <div class="col-md-12">
                                                <div class="row">
                                                  <div class="table-border">
                                                    <div class="form-group modify-input">
                                                      <div class="row">
                                                        <div class="col-md-4">
                                                        <div class="row">
                                                          <div class="col-md-2"></div>
                                                          <div class="col-md-10">
                                                             <!--  <input v-model="form_data.sale_price" type="text" class="form-control"> -->
                                                                <label class="col-md-6 control-label city-label">Code</label>
                                                                <div class="col-md-6" >
                                                                   <select v-model="form_data.sale_price">
                                                                    <option :value="a_price_value">A</option>
                                                                    <option :value="b_price_value">B</option>
                                                                    <option :value="c_price_value">C</option>
                                                                    <option :value="d_price_value">D</option>
                                                                   </select>
                                                                </div>
                                                          </div>
                                                          </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                          <div class="row">
                                                          <label class="col-md-4 control-label" for="inv_begin_date">Begins</label>
                                                          <div class="col-md-8">
                                                              <input v-model="form_data.begain_sale_date" id="inv_begin_date" type="date" class="form-control">
                                                          </div>
                                                          </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                          <div class="row">
                                                          <label class="col-md-3 control-label" for="inv_end_date">Ends</label>
                                                          <div class="col-md-7">
                                                              <input v-model="form_data.end_sale_date" type="date" id="inv_end_date" class="form-control">
                                                          </div>
                                                          <div class="col-md-1"></div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                        <div class="col-md-4" >
                                          <div class="row">
                                           <div class="col-md-2" ></div>
                                            <div class="col-md-5">
                                             <div class="row">
                                                <div class="col-md-12" >
                                                  <label class="checkbox-inline" for="inv_service" style=" margin-top: 17px; margin-left: -59px;line-height: initial;">
                                                    <span>
                                                     <input type="checkbox" class="uniform" true-value="1" false-value="0" id="inv_service" v-model="form_data.service" >
                                                    </span>
                                                     Service
                                                  </label>
                                                 </div>
                                              </div>
                                            </div>
                                            <div class="col-md-5">
                                            <div class="row">
                                              <div class="col-md-12" >
                                                <label class="checkbox-inline"  for="inv_commission" style="margin-top: 17px;margin-left: -62px;line-height: initial;">
                                                  <span>
                                                   <input type="checkbox" class="uniform" id="inv_commission" true-value="1" false-value="0" v-model="form_data.commission">
                                                  </span>
                                                   Commission
                                                </label>
                                               </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <!--
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="salesman-table" style="margin-top: 15px;">
                                             <h5>Sales Tax Codes</h5>
                                                  <div class="table-border">
                                                    <div class="form-group modify-input">
                                                      <div class="row">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-2">
                                                          <div class="row">


                                                          <div class="col-md-4">
                                                            <input type="checkbox"  @change="itemCodeVisible" class="uniform" true-value="1" false-value="0" id="inv_tax" v-model="form_data.taxable">

                                                          </div>
                                                          <label class="col-md-8 control-label" for="inv_tax">Tax</label>
                                                          </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                          <div class="row">
                                                          <label class="col-md-3 control-label" for="inv_tax_a">A)</label>
                                                          <div class="col-md-9">
                                                            <div class="row">
                                                              <div class="col-md-2 set-left-padding in-item-right-padding">
                                                                <input style="margin: 0px 0px 0px;" :disabled="codeVisible" type="radio"  v-model="form_data.taxcode" :value="form_data.item_tax_code_1" id="inv_tax_a">
                                                              </div>
                                                              <div class="col-md-8 set-left-padding text-left">{{form_data.item_tax_code_1}}%</div>
                                                            </div>
                                                          </div>

                                                          </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                          <div class="row">
                                                          <label class="col-md-3 control-label" for="inv_tax_b">B)</label>
                                                          <div class="col-md-9">
                                                            <div class="row">
                                                              <div class="col-md-2 set-left-padding in-item-right-padding">
                                                                <input style="margin: 0px 0px 0px" :disabled="codeVisible" type="radio" id="inv_tax_b"  v-model="form_data.taxcode" :value="form_data.item_tax_code_2">
                                                              </div>
                                                              <div class="col-md-8 set-left-padding text-left">
                                                              {{form_data.item_tax_code_2}}%</div>
                                                            </div>
                                                          </div>

                                                          </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                          <div class="row">
                                                          <label class="col-md-3 control-label" for="inv_tax_c">C)</label>
                                                          <div class="col-md-9">
                                                            <div class="row">
                                                              <div class="col-md-2 set-left-padding in-item-right-padding">
                                                                <input style="margin: 0px 0px 0px" :disabled="codeVisible" type="radio" id="inv_tax_c" v-model="form_data.taxcode" :value="form_data.item_tax_code_3">
                                                              </div>
                                                              <div class="col-md-8 set-left-padding text-left">{{form_data.item_tax_code_3}}%</div>
                                                            </div>
                                                          </div>

                                                          </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                          <div class="row">
                                                          <label class="col-md-3 control-label"  for="inv_tax_d">D)</label>
                                                          <div class="col-md-9">
                                                            <div class="row">
                                                              <div class="col-md-2 set-left-padding in-item-right-padding">
                                                                <input style="margin: 0px 0px 0px" :disabled="codeVisible" type="radio" :value="form_data.item_tax_code_4"  id="inv_tax_d" v-model="form_data.taxcode">
                                                              </div>
                                                              <div class="col-md-8 set-left-padding text-left">{{form_data.item_tax_code_4}}%</div>
                                                            </div>
                                                          </div>

                                                          </div>
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                    </div>
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                      </div> -->
                                      <div class="row" style="margin-top: 9px;">
                                          <div class="col-md-4">

                                              <div v-if="form_data.id" class="form-group modify-input">
                                                <label class="col-md-6 control-label" for="inv_last_receive">Last Date Receive</label>
                                                <div class="col-md-6">
                                                    <input v-model="form_data.last_date_receive" type="date" id="inv_last_receive"  class="form-control" readonly>
                                                </div>
                                            </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div v-if="form_data.id" class="form-group modify-input">
                                                  <label class="col-md-5 control-label" for="inv_last_sold">Last Date Sold</label>
                                                  <div class="col-md-7">
                                                      <input v-model="form_data.last_date_sold" type="date" id="inv_last_sold"  class="form-control " readonly>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="form-group modify-input">
                                                <label class="col-md-4 control-label" for="inv_location">Location</label>
                                                <div class="col-md-8">
                                                    <input v-model="form_data.item_loction" type="text" id="inv_location" class="form-control">
                                                </div>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="row">
                                          <div class="col-md-8 paddingZero">
                                              <div class="salesman-table vendor-table">
                                                  <h5>Items Sales</h5>
                                                  <div class="col-md-12" style="margin-top: 30px;">
                                                      <div class="table-border">
                                                        <table width="100%">
                                                            <thead>
                                                                <tr>
                                                                  <th></th>
                                                                  <th v-if="form_data.company_config.account_header_a!='0'" class="text-center">Shift</th>
                                                                  <th v-if="form_data.company_config.account_header_b!='0'" class="text-center">Daily</th>
                                                                  <th v-if="form_data.company_config.account_header_c!='0'" class="text-center">Monthly</th>
                                                                  <th v-if="form_data.company_config.account_header_d!='0'" class="text-center">Year To Date</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr>
                                                                <td>Total Sales</td>
                                                                <td v-if="form_data.company_config.account_header_a!='0'"  class="text-right">
                                                                      <p v-if="form_data.id">{{form_data.shift}}</p>
                                                                      <p v-else>0.00</p>
                                                                  </td>
                                                                  <td v-if="form_data.company_config.account_header_b!='0'"  class="text-right">
                                                                      <p v-if="form_data.id">{{form_data.total_sold_a}}</p>
                                                                      <p v-else>0.00</p>
                                                                  </td>
                                                                  <td v-if="form_data.company_config.account_header_c!='0'"  class="text-right">
                                                                      <p v-if="form_data.id">{{form_data.total_sold_b}}</p>
                                                                      <p v-else>0.00</p>
                                                                  </td>
                                                                  <td v-if="form_data.company_config.account_header_d!='0'"  class="text-right">
                                                                      <p v-if="form_data.id">{{form_data.total_sold_c}}</p>
                                                                      <p v-else>0.00</p>
                                                                  </td>
                                                              </tr>
                                                            </tbody>
                                                        </table>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-md-4 paddingZero">
                                              <label class="col-md-12 control-label"  for="inv_comment" style="text-align: left;">Comments</span></label>
                                              <div class="col-md-12 city-field">
                                                  <textarea v-model="form_data.comment" id="inv_comment" type="text" class="form-control textarea-height-set" placeholder="Comments"></textarea>
                                              </div>

                                          </div>
                                      </div>

                                  </div>
                                  <div class="form-actions pos-action">
                                      <input type="submit" :disabled="submitButtonVisible" value="Submit" class="btn btn-primary pull-right pos-button">
                                      <button type="button" @click="hideModal" class="btn btn-default pull-right pos-button">Close</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                      <div v-if="!modal_loading">
                          <pageLoading></pageLoading>
                      </div>
                  </modal>
              </div>
          </div>
            <div class="widget-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="row">
                        <div class="dataTables_header clearfix">
                            <div class="col-md-6">
                                <div id="DataTables_Table_0_length" class="">
                                    <label>
                                        <select class="form-control" @change="onChange($event)" v-model="paginate_num"  name="pageSize">
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_filter" id="DataTables_Table_0_filter">
                                    <label>
                                        <div class="input-group"><span class="input-group-addon"><i class="icon-search"></i></span>
                                            <input v-on:keyup="getResults" v-model="search_input.search_key" type="text" aria-controls="DataTables_Table_0" class="form-control" id="search"  placeholder="Enter keyword...">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>No.</td>
                                <td>Item Code</td>
                                <td>Description</td>
                                <td>Last Purchage Date</td>
                                <td>Qty Hand</td>
                                <td>Price</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody  v-if="Object.keys(paginate_data.data).length > 0">
                            <tr v-for="(form_data, index) in paginate_data.data" v-bind:key="form_data.id">
                                <td>{{order_no + index + 1}}</td>
                                <td >{{form_data.inv_code}}</td>
                                <td>{{form_data.inv_product_name}}</td>
                                <td >{{form_data.last_date_receive}}</td>
                                <td >{{form_data.qty_hand}}</td>
                                <td >{{form_data.sale_price}}</td>
                                <td >
                                    <button @click="getModalData($event,{dataUrl:'inventory_item/edit/'+form_data.id},setModalData)" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal">Edit</button>
                                    <button @click="deleteItem({delUrl:'inventory_item/delete/'+form_data.id})" class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td colspan="7" align="center">No data in database</td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="row">
                        <div class="dataTables_footer clearfix">
                            <div class="col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info">Showing {{paginate_data.current_page}} of {{paginate_data.last_page}} pages</div>
                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_paginate paging_bootstrap">
                                    <pagination :data="paginate_data" :limit="2" @pagination-change-page="getResults"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div v-if="!page_loading">
        <pageLoading></pageLoading>
    </div>
</div>
</template>

<script>

    import { required,minLength } from "vuelidate/lib/validators";
    // import loading_modal from 'vue-loading-overlay';

    export default {
        data(){
            return {
               masterselect:"",
               seen: false,
               avg_cost_value:"",
               codeVisible:'',
               a_price_value:"",
               b_price_value:"",
               c_price_value:"",
               d_price_value:"",
               a_markup_value:"",
               b_markup_value:"",
               c_markup_value:"",
               d_markup_value:"",
               category_value:"",
               vendor_value:"",
               selectedTags: [],
               serial_check:"",
               sell_by_serial_num:"",
               submitButtonVisible:true

            }
        },

        /*validations: {
          form_data: {
            inv_code: { required },
            inv_product_name:{required},
            qty_hand:{required},
            last_cost:{required},
            price_a:{required}
          }
        },*/

        methods:{
          // valuecheck()
          // {
          //   let _this=this;
          //   console.log(_this.selectedTags);
          // },
          itemCodeVisible(){
            if(this.form_data.texcheck || this.form_data.taxable == 1){
              this.codeVisible = false;
            }else{
              this.codeVisible = true;
              if(this.form_data.taxcode){
                this.form_data.taxcode = 0;
              }
            }
          },
          AvgCost()
          {
            let _this=this;
            _this.avg_cost_value=Math.round((_this.form_data.last_cost *_this.form_data.qty_hand)/_this.form_data.qty_hand).toFixed(2);
            _this.sibmitVisible();
            _this.form_data.avg_cost=_this.avg_cost_value;

            if(isNaN(_this.avg_cost_value))
            {
              _this.avg_cost_value=0;
            }
          },
          CalculatePrice(markup)
          {
            let _this=this;
            let parcentage=0;
            let result=0;

            _this.parcentage=parseFloat(_this.form_data.last_cost)*(parseFloat(markup)/100);
            _this.result=Math.round(parseFloat(_this.form_data.last_cost)+_this.parcentage).toFixed(2);
            if(isNaN(_this.result))
            {
              _this.result=0;
            }
            return _this.result;
          },
          setModalData(){
            this.avg_cost_value=this.form_data.avg_cost;
            this.a_price_value=this.form_data.price_a;
            this.b_price_value=this.form_data.price_b;
            this.c_price_value=this.form_data.price_c;
            this.d_price_value=this.form_data.price_d;
            this.a_markup_value=this.form_data.markup_a;
            this.b_markup_value=this.form_data.markup_b;
            this.c_markup_value=this.form_data.markup_c;
            this.d_markup_value=this.form_data.markup_d;
            this.category_value=this.form_data.category_value;
            this.vendor_value=this.form_data.vendor_value;
            this.codeVisible=this.form_data.codeVisible;
            this.sibmitVisible();
          },
          resetModal(){
            this.avg_cost_value='';
            this.a_price_value='';
            this.b_price_value='';
            this.c_price_value='';
            this.d_price_value='';
            this.a_markup_value='';
            this.b_markup_value='';
            this.c_markup_value='';
            this.d_markup_value='';
            this.category_value='';
            this.vendor_value='';
            this.codeVisible= true;
            // console.log('rest-model');
          },
          CalculateMarkup(price)
          {
            let _this=this;
            let markup=0;9
            let result=0;

            _this.markup=parseFloat(price)-parseFloat(_this.form_data.last_cost);
            _this.result=Math.round((_this.markup*100)/parseFloat(_this.form_data.last_cost)).toFixed(2);
            if(isNaN(_this.result))
            {
             _this.result=0;
            }
            return _this.result;
          },
          sibmitVisible(){
              if(this.form_data.inv_code!=='' && this.form_data.inv_product_name!=='' && this.form_data.qty_hand!=='' && this.form_data.last_cost!=='' && this.a_markup_value!==''){
                  this.submitButtonVisible = false;
              }else{
                  this.submitButtonVisible = true;
              }
          },
          SalePrice()
          {
            let _this=this;
            if(_this.a_markup_value)
            {
              _this.a_price_value=this.CalculatePrice(_this.a_markup_value);
              _this.form_data.price_a=_this.a_price_value;
              _this.form_data.markup_a=_this.a_markup_value;
              _this.form_data.sale_price=_this.form_data.price_a;
              this.sibmitVisible();
            }
            if(_this.b_markup_value)
            {
              _this.b_price_value=this.CalculatePrice(_this.b_markup_value);
              _this.form_data.price_b=_this.b_price_value;
              _this.form_data.markup_b=_this.b_markup_value;
            }
           if(_this.c_markup_value)
            {
              _this.c_price_value=this.CalculatePrice(_this.c_markup_value);
              _this.form_data.price_c=_this.c_price_value;
              _this.form_data.markup_c=_this.c_markup_value;

            }
            if(_this.d_markup_value)
            {
              _this.d_price_value=this.CalculatePrice(_this.d_markup_value);
              _this.form_data.price_d=_this.d_price_value;
              _this.form_data.markup_d=_this.d_markup_value;

            }
          },
          MarkupParcent()
          {
            let _this=this;
            if(_this.a_price_value)
            {
              _this.a_markup_value=this.CalculateMarkup(_this.a_price_value);
              _this.form_data.price_a=_this.a_price_value;
              _this.form_data.markup_a=_this.a_markup_value;


            }
            if(_this.b_price_value)
            {
              _this.b_markup_value=this.CalculateMarkup(_this.b_price_value);
              _this.form_data.price_b=_this.b_price_value;
              _this.form_data.markup_b=_this.b_markup_value;

            }
           if(_this.c_price_value)
            {
              _this.c_markup_value=this.CalculateMarkup(_this.c_price_value);
              _this.form_data.price_c=_this.c_price_value;
              _this.form_data.markup_c=_this.c_markup_value;


            }
            if(_this.d_price_value)
            {
              _this.d_markup_value=this.CalculateMarkup(_this.d_price_value);
              _this.form_data.price_d=_this.d_price_value;
              _this.form_data.markup_d=_this.d_markup_value;

            }


          }
        ,
          onSelect (option) {

            this.form_data.category_id = option.id;

          },
          onVendor (option) {

            this.form_data.vendor_id = option.id;

          }

        },

        created(){
            this.getResults(1);
            // this.AvgCost();

        },

    }
</script>
