<style>
    .cus-info{
      display: none;
    }
    @media print {
      .cus-info {
        display : block;
      }
    }
</style>
<template>
<div>
    <div v-if="page_loading" class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i>Account Receive View List</h4>

                <div class="toolbar no-padding ">
                    <!-- <div @click="getModalData($event)" class="btn-group"> <span class="btn btn-xs btn-info"><i class="icon-plus"></i>Add New</span> </div> -->


                    <div class="btn-group"> <span class="btn btn-xs  widget-collapse"><i class="icon-refresh"> </i></span> </div>
                    <modal name="myModal"  transition="scale"  width="900" height="auto" :clickToClose="false">
                        <div v-if="modal_loading">
                            <div class="widget-header">
                                <h4><i class="icon-reorder"></i>View Statement</h4>
                                 <button type="button" @click="hideModal" class="close close-modify" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modify-wraper">
                              <br>

                              <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-9">
                                  <h3 style="color: green;">Current Balances</h3>
                                </div>
                                <div class="col-md-2"></div>
                              </div>
                              <div class="row" >
                                <div class="col-md-1"></div>
                                <div class="col-md-10" style="border:1px solid;  background: rgb(245, 244, 244)">
                                  <div class="row " >
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10 text-center" ><h3><b>Statement</b></h3></div>

                                    <div class="col-md-1"></div>
                                  </div>
                                  <div class="row" >
                                    <div class="col-md-1"></div>
                                    <div class="col-md-4" style="border: 1px solid;margin-right: 20px;">
                                      <div class="row">
                                        <div class="col-md-6">
                                         <span>{{form_data.customer_details.customer_number}}</span><br>
                                         <span>{{form_data.customer_details.customer_name}}</span><br>
                                         <span>{{form_data.customer_details.customer_phone}}</span><br>
                                         <span>{{form_data.customer_details.customer_address}}</span><br>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-3">
                                         <span>{{form_data.customer_details.customer_city}}</span>

                                        </div>

                                        <div class="col-md-6">
                                         <span>{{form_data.customer_details.customer_state}}</span>

                                        </div>
                                        <div class="col-md-3">
                                         <span>{{form_data.customer_details.customer_zip}}</span>

                                        </div>
                                      </div>

                                    </div>
                                    <div class="col-md-6" style="border: 1px solid;    height: 152px; ">
                                      <div class="row">
                                        <div class="col-md-8">
                                         <h2 ><b>Balance Due</b></h2>

                                        </div>
                                        <div class="col-md-4">
                                         <h2 style="color: green;"><b>{{form_data.payment_details.total_due}}</b></h2>

                                        </div>

                                      </div>

                                      <div class="row">
                                        <table class="table table-striped ">
                                            <thead>
                                                <tr>

                                                    <td> Current</td>
                                                    <td>30-60 Days </td>
                                                    <td>60-90 Days</td>
                                                    <td>90+ Days</td>

                                                </tr>
                                            </thead>

                                            <tbody>
                                              <tr>
                                                <td class="text-center" style="color: green;">{{form_data.due_duration.current}}</td>
                                                <td class="text-center" style="color: green;">{{form_data.due_duration.days_30_60}}</td>
                                                <td class="text-center" style="color: green;">{{form_data.due_duration.days_60_90}}</td>
                                                <td class="text-center" style="color: green;">{{form_data.due_duration.days_plus_90}}</td>
                                              </tr>
                                            </tbody>

                                        </table>

                                      </div>

                                    </div>
                                    <div class="col-md-1"></div>

                                  </div>
                                  <div class="row">
                                    <div class="col-md-11">
                                      <button style="margin-top: 10px;" class="btn btn-primary pull-right" v-print="'#ar_report'">print</button>
                                    </div>
                                  </div>
                                  <br>
                                  <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10" id="ar_report">
                                      <div class="row">
                                        <div class="col-md-6 cus-info">
                                         <span>code: {{form_data.customer_details.customer_number}}</span><br>
                                         <span>Name: {{form_data.customer_details.customer_name}}</span><br>
                                         <span>Phone: {{form_data.customer_details.customer_phone}}</span><br>
                                         <span>Adderss: {{form_data.customer_details.customer_address}}</span><br>
                                        </div>
                                      </div>
                                      <div class="overflow">
                                          <table class="responsive table table-striped table-bordered m-b-0" cellspacing="0">
                                              <thead>
                                                  <tr style="background: rgb(224, 238, 247);">
                                                      <th class="text-center addRowPading">Date</th>
                                                      <th class="text-center addRowPading">Description</th>
                                                      <th class="text-center addRowPading">Charges</th>
                                                      <th class="text-center addRowPading">Payment</th>
                                                      <th class="text-center addRowPading">Balance</th>

                                                  </tr>
                                              </thead>
                                              <tbody v-for="ar_data in form_data.ar_tranction_data">

                                                  <tr>
                                                      <td class="text-center addRowPading" valign="middle">
                                                          {{ar_data.date}}
                                                      </td>
                                                      <td class="text-center addRowPading" valign="middle">
                                                          {{ar_data.particular}}
                                                            
                                                      </td>
                                                      <td class="text-center addRowPading" valign="middle">
                                                        <span v-if='ar_data.ar_sale'>{{ar_data.ar_sale}}</span>
                                                      </td>
                                                      <td class="text-center addRowPading" valign="middle">
                                                        <span v-if='ar_data.ar_payment'>{{ar_data.ar_payment}}</span>
                                                      </td>
                                                      <td class="text-center addRowPading" valign="middle">
                                                          {{ar_data.balance.toFixed(2)}}
                                                      </td>
                                                  </tr>

                                              </tbody>
                                          </table>
                                      </div>
                                    </div>
                                    <div class="col-md-1"></div>

                                  </div>


                                 </div>

                                <div class="col-md-1"></div>


                              </div>
                              <br>
                            </div>
                        </div>
                        <div v-if="!modal_loading">
                            <pageLoading></pageLoading>
                        </div>
                    </modal>
                </div>
            </div>
            <div class="widget-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="row">
                        <div class="dataTables_header clearfix">
                            <div class="col-md-6">
                                <div id="DataTables_Table_0_length" class="">
                                    <label>
                                        <select class="form-control" @change="onChange($event)" v-model="paginate_num"  name="pageSize">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_filter" id="DataTables_Table_0_filter">
                                    <label>
                                        <div class="input-group"><span class="input-group-addon"><i class="icon-search"></i></span>
                                            <input v-on:keyup="getResults" v-model="search_input.search_key" type="text" aria-controls="DataTables_Table_0" class="form-control" id="search"  placeholder="Enter keyword...">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>No.</td>
                                <td>Customer Name</td>
                                <td>Customer Code </td>
                                <td>Customer Phone </td>
                                <td>Total Sale</td>
                                <td>Total Payment</td>
                                <!-- <td>Due Balance</td> -->
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody  v-if="Object.keys(paginate_data.data).length > 0">
                            <tr v-for="(form_data, index) in paginate_data.data" v-bind:key="form_data.id">
                                <td >{{index + 1}}</td>
                                <td >{{form_data.customer_name}}</td>
                                <td >{{form_data.customer_number}}</td>
                                <td >{{form_data.customer_phone}}</td>
                                <td>{{(form_data.total_sub + form_data.total_tax)-form_data.discount_total}}</td>
                                <td>{{form_data.payment}}</td>
                                <!-- <td >{{form_data.due_balance}}</td> -->

                                <td >
                                    <button @click="getModalData($event,{dataUrl:'view_statement/edit/'+form_data.customer_id})" class="btn btn-info" data-toggle="modal" data-target="#myModal">View Statement</button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td colspan="8" align="center">No data in database</td>
                            </tr>
                        </tbody>


                    </table>


                    <div class="row">
                        <div class="dataTables_footer clearfix">
                            <div class="col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info">Showing {{paginate_data.current_page}} of {{paginate_data.last_page}} pages</div>
                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_paginate paging_bootstrap">
                                  <pagination :data="paginate_data" @pagination-change-page="getResults"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div v-if="!page_loading">
        <pageLoading></pageLoading>
    </div>
</div>
</template>
<script>
import {required,minLength} from "vuelidate/lib/validators";
import Loading from '../Loading.vue';

export default {
    created() {

        this.getResults(1);
    },
    data() {
        return {
            masterselect: "",
            set_balance:0
        }
    },
    components: {
        pageLoading: Loading
    },
    validations: {
        form_data: {

        }
    },

    methods: {
      
    }

}
</script>
