<template>
<div>

    <div v-if="page_loading" class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i>Category </h4>

                <div class="toolbar no-padding ">
                    <div @click="getModalData($event)" class="btn-group"> <span class="btn btn-xs btn-info"><i class="icon-plus"></i>Add New</span> </div>


                    <div class="btn-group"> <span class="btn btn-xs  widget-collapse"><i class="icon-refresh"> </i></span> </div>
                    <modal name="myModal"  transition="scale" width="550" height="auto" :clickToClose="false">
                        <div v-if="modal_loading">
                            <div class="widget-header">
                                <h4><i class="icon-reorder"></i>Category Form</h4>
                                 <button type="button" @click="hideModal" class="close close-modify" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modify-wraper">
                                <form @submit.prevent="add({add:'inventory_category/add'})" class="form-horizontal  row-border" id="validate-1">
                                    <div class="my-form-wraper">
                                        <div class="form-group modify-input">
                                            <label class="col-md-3 control-label">Catgory Name </label>
                                            <div class="col-md-9" :class="{ 'has-error': $v.form_data.category_name.$error }">
                                                {{$v.form_data.category_name.$touch()}}
                                                <input v-model="form_data.category_name" type="text" class="form-control pos-input-design required">
                                            </div>
                                        </div>

                                    </div>
                                        <div class="form-actions">
                                            <input type="submit" :disabled="isComplete" value="Submit" class="btn btn-primary pull-right">
                                            <button type="button" @click="hideModal" class="btn btn-default pull-right">Close</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                        <div v-if="!modal_loading">
                            <pageLoading></pageLoading>
                        </div>
                    </modal>
                </div>
            </div>
            <div class="widget-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="row">
                        <div class="dataTables_header clearfix">
                            <div class="col-md-6">
                                <div id="DataTables_Table_0_length" class="">
                                    <label>
                                        <select class="form-control" @change="onChange($event)" v-model="paginate_num"  name="pageSize">
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_filter" id="DataTables_Table_0_filter">
                                    <label>
                                        <div class="input-group"><span class="input-group-addon"><i class="icon-search"></i></span>
                                            <input v-on:keyup="getResults" v-model="search_input.search_key" type="text" aria-controls="DataTables_Table_0" class="form-control" id="search"  placeholder="Enter keyword...">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>No.</td>
                                <td>Category Name</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody  v-if="Object.keys(paginate_data.data).length > 0">
                            <tr v-for="(form_data, index) in paginate_data.data" v-bind:key="form_data.id">
                                <td>{{order_no + index + 1}}</td>
                                <td>{{form_data.category_name}}</td>
                                <td style="width: 20%" class="text-right">
                                    <button @click="getModalData($event,{dataUrl:'inventory_category/edit/'+form_data.id})" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal">Edit</button>
                                    <button @click="deleteItem({delUrl:'inventory_category/delete/'+form_data.id})" class="btn-xs btn-danger">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td colspan="3" align="center">No data in database</td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="row">
                        <div class="dataTables_footer clearfix">
                            <div class="col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info">Showing {{paginate_data.current_page}} of {{paginate_data.last_page}} pages</div>
                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_paginate paging_bootstrap">
                                  <pagination :data="paginate_data" @pagination-change-page="getResults"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div v-if="!page_loading">
        <pageLoading></pageLoading>
    </div>
</div>
</template>

<script>

   import { required,minLength } from "vuelidate/lib/validators";
   import Loading from '../Loading.vue';

    export default {
        data(){
            return {
               masterselect:"",
            }
        },
        created(){
            this.getResults(1);
        },
        components:{
            pageLoading:Loading
        },
        validations: {
            form_data: {
              category_name: { required }
            }
        },

        methods:{

        }

    }
</script>
