<style media="screen">
  #check ul li a{
    cursor: pointer;

  }
</style>
<template>
    <div id="check">
        <div class="row">
            <ul class="nav nav-pills" style="border: 3px solid #4d7495; background: rgb(224, 238, 247);">
              <li class="nav-item">
                <a class="nav-link active" @click="CheckShowHide($event),cash_sale=true">Cash Sale</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" @click="CheckShowHide($event),cash_sale=false">Customer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" @click="CheckShowHide($event),comment_show=true">Comment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" @click="CheckShowHide($event),discount_check=true">Discount</a>
              </li>
            </ul>
        </div>
        <br>
        <form @submit.prevent="AddData()" class="form-horizontal  row-border" id="validate-1">
            <div class="row">

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-6">


                            <div class="row">

                                <div class="col-md-6 ">Invoice Number #</div>
                                <div class="col-md-6 ">
                                    {{inv_num}}

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 ">{{date}} </div>
                                <div class="col-md-6 "></div>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-6">

                            <div  style="background: rgb(224, 238, 247); border: 1px solid #4d7495;padding: 11px;">
                                <!-- <h5>Salesperson Totals</h5> -->
                                <div >
                                  <table width="97%" >
                                      <thead>
                                          <tr>
                                              <th class="text-center"> </th>

                                          </tr>
                                      </thead>
                                      <tbody>
                                          <br>
                                          <tr v-if="cash_sale">
                                              <td style="text-align: center;"><b>Cash</b></td>
                                          </tr>
                                          <tr v-if="cash_sale !=true">
                                              <td style="text-align: center;">
                                                  <vue-select v-model="customer_value" :options="option_data.customer_data" @select="OnSelectCus" placeholder="Select one" label="text" track-by="text"></vue-select>
                                              </td>
                                          </tr>
                                          <br>
                                          <tr v-if="comment_show==true">
                                              <td style="text-align: center;">
                                                  <textarea v-model="form_data.comment" id="inv_comment" type="text" class="form-control textarea-height-set" placeholder="Comments"></textarea>
                                              </td>
                                          </tr>
                                          <br>
                                          <tr v-if="discount_check ==true">
                                              <td style="text-align: center;">
                                                  <label><input type="radio" name="dis_status" v-model="dis_status" value="all">Discount All Item</label>
                                                  <label><input type="radio" v-model="dis_status" name="dis_status" value="one">Discount One Item</label>
                                              </td>
                                          </tr>
                                          <tr v-if="discount_check==true,dis_status=='one'">
                                              <td style="text-align: center;">
                                                  <vue-select v-model="product_value" :options="option_data.product_select" @select="onSelect" placeholder="Select one" label="text" track-by="text"></vue-select>

                                              </td>
                                          </tr>
                                          <br>
                                          <tr v-if="discount_check==true">
                                              <td style="text-align: center;">
                                                  <input type="text" style="height: 23px" name="order_no" class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-model="discount" autocomplete="off" placeholder="Discount">
                                              </td>
                                          </tr>
                                          <br>

                                      </tbody>
                                  </table>
                                </div>
                            </div>
                            <br>
                            <div v-if="errors" class="alert alert-danger">

                               <div v-for="(mm, index) in errors">
                                 <span v-if="isObject(mm)" v-for="m in mm">{{m}}</span>
                                   <span v-if="!isObject(mm)">{{mm}}</span>
                               </div>
                           </div>


                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12"  style="background: rgb(224, 238, 247); border: 1px solid #4d7495;     width: 345px;">

                                    <table>
                                        <thead>
                                            <tr>
                                              <th class="text-center"></th>
                                              <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: left;"><b>Sub Total</b></td>
                                                <td class="text-right">{{sub_total}}</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;"><b>Sales Tax</b></td>
                                                <td class="text-right">{{sales_tax}}</td>
                                            </tr>
                                            <tr v-if="discount_check==true">
                                                <td style="text-align: left;"><b>Total Discount</b></td>
                                                <td class="text-right">{{discount_amount}}</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left; color:green;"><b > <span v-if="cash_sale">Total Amount</span><span v-else >Total Due</span> </b></td>
                                                <td class="text-right" style="color:green">{{total_pay}}</td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td>
                                                    <hr style="border-top: 1px solid #4d7495">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="text-align: left;"><b> Payment Type </b> </td>
                                                <td class="text-right">
                                                    <select  class="form-control">
                                                        <option v-if="cash_sale" value="">Cash <span v-model="this.form_data.pay_type='Cash'" ></span></option>
                                                        <option v-else value="">Account Receivable  <span v-model="this.form_data.pay_type='Account Receivable'" ></span></option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <br>
                                            <tr>
                                                <td style="text-align: left;"><b> Amt Tendered </b> </td>
                                                <td class="text-center">
                                                    <input type="text" style="height: 23px" name="order_no" class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-model="get_pay" @keyup="Exchange($event)" autocomplete="off"
                                                      placeholder="Total Pay">
                                                </td>
                                            </tr>
                                            <br>
                                            <tr v-if="exchange_seen">
                                                <td style="text-align: left; color:green"><b> Exchange Amount </b> </td>
                                                <td class="text-right" style="color:green">{{exchange}}</td>
                                            </tr>
                                            <br  v-if="exchange_seen">
                                            <tr>

                                                <td colspan="2">
                                                   <button type="submit" style="width: 296px;" v-bind:disabled="btnDisable || button_loading" class="btn btn-primary pull-right"><i v-if="button_loading" class="fa fa-circle-o-notch fa-spin"></i> submit</button>                                                    

                                                </td>
                                                <!-- <td class="text-center">
                                                type="submit"
                                                <input type="text" style="height: 23px" name="order_no" class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-model="total_pay" @keyup="GetDue($event)" autocomplete="off"
                                                  placeholder="Total Pay">
                                            </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>



                        </div>

                    </div>
                </div>

            </div>
            <br>
            <br>
            <div class="row">

                <div class="col-md-1">

                </div>
                <div class="col-md-9">
                    <div class="overflow">
                        <table class="responsive table table-striped table-bordered m-b-0 "  id="table-focus" cellspacing="0">
                            <thead>
                                <tr style="background: rgb(224, 238, 247);">
                                    <th class="text-center addRowPading">Item #</th>
                                    <th class="text-center addRowPading">Qty</th>
                                    <th class="text-center addRowPading">Description</th>
                                    <th class="text-center addRowPading">Qty On Hand</th>
                                    <th class="text-center addRowPading">Price</th>
                                    <th class="text-center addRowPading">Amount</th>
                                    <th class="text-center addRowPading" width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-focus-input">

                                <tr v-for="(row,index) in form_data.add_row" :key="index" >
                                    <td class="text-center addRowPading" valign="middle">
                                        <input  :id="index+1" type="text" style="height: 23px" name="order_no" ref="InvCode" el="InvCode" class="form-control ng-pristine ng-untouched ng-valid ng-empty" @keyup="GetItemData($event,row)" v-model="row.product_id"
                                          autocomplete="off" placeholder="Item">
                                    </td>
                                    <td class="text-center addRowPading" valign="middle">
                                        <input type="text" style="height: 23px" name="order_no" ref="product_qty" class="form-control ng-pristine ng-untouched ng-valid ng-empty focus-field" v-model="row.product_qty" @keyup="getAmount($event,row)" autocomplete="off"
                                          placeholder="Quantity">
                                    </td>
                                    <td class="text-center addRowPading" valign="middle">
                                        <input type="text" style="height: 23px" name="order_no" readonly class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-model="row.product_name" autocomplete="off" placeholder="Description">
                                    </td>
                                    <td class="text-center addRowPading" valign="middle">
                                        <input type="text" style="height: 23px" name="order_no" class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-model="row.product_qty_hand"  autocomplete="off"
                                          placeholder="Qty On Hand" readonly >
                                    </td>
                                    <td class="text-center addRowPading" valign="middle">
                                        <input type="text" style="height: 23px" name="order_no" class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-model="row.product_price" @keyup="TotalAmount($event)" autocomplete="off"
                                          placeholder="Price" readonly >
                                        <input type="hidden" name="" v-model='row.avg_cost'>
                                        <input type="hidden" name="" v-model='row.last_cost'>
                                    </td>
                                    <td class="text-center addRowPading" valign="middle">
                                        <input type="text" style="height: 23px" name="order_no" class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-model="row.product_amount" @keyup="TotalAmount($event)" autocomplete="off"
                                          placeholder="Amount" readonly >
                                    </td>
                                    <td class="text-center addRowPading">
                                        <button type="button" @click="internalGridAdd($event)" v-if='(index === form_data.add_row.length - 1)' class="btn btn-info btn-xs btn-custom-padding"><i style="margin-top: 4px" class="fa fa-plus"></i></button>

                                        <button type="button" v-else @click="internalGridRemove($event,row)" class="btn btn-danger btn-xs btn-custom-padding"><i style="margin-top: 4px" class="fa fa-times"></i></button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-2">
                </div>
            </div>
        </form>

    </div>
</template>
<script>
import {required,minLength} from "vuelidate/lib/validators";
import Loading from '../Loading.vue';

export default {
    created() {
        // this.getResults(1);
        this.DateShow();
        this.FetchData();
        this.testfocus();
    },
    data() {
        return {
            masterselect: "",
            date: "",
            inv_num: "",
            sub_total: 0,
            sales_tax: 0,
            total_pay: 0,
            get_pay:0,
            exchange: 0,
            exchange_seen: false,
            cash_sale: true,
            comment_show: false,
            discount_check: false,
            dis_status: '',
            discount: 0,
            discount_amount: 0,
            product_value: '',
            all_inv_dis: [],
            single_inv_dis: [],
            tax_value: [],
            for_discount_inv: '',
            customer_value:"",
            errors:null,
            btnDisable:false,
            button_loading: false
        }
    },
    components: {
        pageLoading: Loading
    },
    validations: {
        form_data: {

        }
    },
    methods: {
        // date Show
        DateShow() {
            const today = new Date();
            const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

            this.date = monthNames[today.getMonth()] + ' ' + today.getDate() + ' , ' + today.getFullYear();

        },
        CheckShowHide(event)
        {
            event.preventDefault();
            if(this.cash_sale==true){
             this.comment_show=false;
             this.discount_check=false;
             this.dis_status='all';
             this.discount_amount=0;
             this.discount=0;
             this.form_data.customer_name='';
             this.form_data.comment='';
             this.customer_value ='';
             this.form_data.total_discount=0;
            }
            else {
              this.comment_show=false;
              this.discount_check=false;
              this.dis_status='all';
              this.discount_amount=0;
              this.discount=0;
              this.form_data.total_discount=0;
              this.form_data.comment='';

            }

            if(this.comment_show==true){
              this.discount_check=false;
              this.dis_status='all';
              this.discount_amount=0;
              this.form_data.total_discount='';
            }


        },
        testfocus(){
          setTimeout(function(){
              focusTest();
          }, 1000);
        },
        // form_data Fetch
        FetchData() {
            axios.get(URL.baseUrl('pos/create'))
                .then(res => {
                    this.form_data = res.data;
                    this.option_data = res.data;
                    this.errors = null;

                })
                .catch(error => {
                    // this.showToster({
                    //     status: 0,
                    //     message: 'opps! something went wrong'
                    // });
                    console.log("opps! something went wrong");

                })
        },
        // Code Wise Item Get
        GetItemData(event, row) {
            this.btnDisable=false;
            event.preventDefault();
            let product_code = row.product_id;
            let productInfo = this.option_data.all_product[product_code];

            var add_row_length = this.form_data.add_row.length;
            if (productInfo) {
              if(productInfo.qty_hand <=0 ){
                   alert("opps! Your Product Quantity Insufficient");
                   //this.rowReset(row);
                   row.product_id ='';
                   var add_row_length = this.form_data.add_row.length;

                   // if(add_row_length >1){
                   //     this.internalGridRemove(event, row);
                   // }

              }
              else
              {
                row.product_name = productInfo.inv_product_name;
                row.product_price = productInfo.sale_price;
                row.avg_cost = productInfo.avg_cost;
                row.last_cost = productInfo.last_cost;
                row.product_qty = 1;
                row.product_qty_hand =productInfo.qty_hand;
                row.product_amount = this.productAmount(row.product_price, row.product_qty);
                this.SalesTax(product_code, row.product_qty);
                this.Discount(product_code, row.product_qty);
                this.AllItemTotal();
                this.inv_num = this.option_data.invoice_number;
                this.form_data.invoice_number=this.inv_num;
                //for priamry id discount in pos_detials
                row.product_tbl_id=productInfo.id;
                row.product_vendor=productInfo.vendor_id;
                //for discount
                if(this.discount_check == true)
                {
                  if (this.dis_status != 'one') {

                      row.product_discount=this.all_inv_dis[product_code].amount;
                  }else {
                     row.product_discount=this.single_inv_dis[product_code].amount;
                  }
                }
                else {
                   row.product_discount=0;
                }
                //for sale tax
                if (productInfo.taxable == true)
                {
                  row.product_tax=productInfo.taxcode;
                }
                else
                {
                  row.product_tax=0;
                }

                if(this.form_data.add_row[add_row_length-1].product_id !== ''){
                  this.internalGridAdd(event);
                }
                var vm = this;
                setTimeout(function(){
                  focusTest(vm.form_data.add_row);
                }, 400);
            }

              }
              else {
              this.rowReset(row);
              /*$.each(this.form_data.add_row, function(key, value) {
               console.log(value);
             });*/


            }
        },
        // every product Amount get
        productAmount(price, qty) {
            this.amount =  Math.round((+price) * (+qty)).toFixed(2);
            return this.amount;
        },
        rowReset(row)
        {

          row.product_name = '';
          row.product_price = '';
          row.product_qty = '';
          row.product_amount = '';
          row.product_qty_hand='';
          row.product_tbl_id="";
          row.product_vendor="";
          this.sales_tax = 0;
          this.discount_amount = 0;
          // this.get_pay=0;
          // this.SalesTax(row.product_id, row.product_qty);
          // this.Discount(row.product_id, row.product_qty);
          this.AllItemTotal();

        },
        getAmount(event, row) {
            this.btnDisable=false;
            if (row.product_id != '') {
                if (isNaN(row.product_qty) || row.product_qty <=0 ) {
                    row.product_amount = '';
                    row.product_qty='';
                    this.sub_total = 0;
                    this.total_pay = 0;
                    this.sales_tax = 0;
                    this.discount_amount = 0;
                    this.get_pay=0;
                    this.form_data.sub_total='';
                    this.form_data.total_pay='';
                    this.form_data.total_discount='';
                    this.btnDisable=true;
                    // row.product_qty=1;

                } else {

                    row.product_amount = this.productAmount(row.product_price, row.product_qty);
                    this.SalesTax(row.product_id, row.product_qty);
                    this.Discount(row.product_id, row.product_qty);
                    this.AllItemTotal();
                }
            }

        },
        //sales Tax
        SalesTax(code, qty) {
            let productInfo = this.option_data.all_product[code];

            if (productInfo.taxable == true) {
                let tax_amount=(+productInfo.sale_price) * (+productInfo.taxcode / 100)
                let tax = Math.round(tax_amount *qty).toFixed(2);
                this.tax_value[code] = {
                    id: code,
                    amount: tax
                };

                if (this.tax_value[code]) {
                    this.tax_value[code].amount = tax;
                } else {
                    this.tax_value[code] = {
                        id: code,
                        amount: tax
                    };
                }

               }
              if(Object.keys(this.tax_value).length > 0)
              {
                let total;
                let sales_tax_total;
                sales_tax_total = this.tax_value.reduce(function(total, item) {
                    return total + (+item.amount) || 0;
                }, 0);
                this.sales_tax =Math.round(+sales_tax_total).toFixed(2);
                this.form_data.sales_tax=this.sales_tax;


              }


        },
        Discount(code, qty) {

            if (this.discount_check == true && this.dis_status != 'one') {
                let product_data = this.option_data.all_product[code];
                let discount=(+product_data.sale_price) * (+this.discount  / 100)
                let discount_cal = Math.round(discount * qty).toFixed(2);
                this.all_inv_dis[code] = {
                    id: code,
                    amount: discount_cal
                };

                if (this.all_inv_dis[code]) {
                    this.all_inv_dis[code].amount = discount_cal;
                } else {
                    this.all_inv_dis[code] = {
                        id: code,
                        amount: discount_cal
                    };
                }

                let total;
                let discount_total;
                discount_total= this.all_inv_dis.reduce(function(total, item) {
                    return total + (+item.amount) || 0;
                }, 0);
                this.discount_amount=Math.round(+discount_total).toFixed(2);
                this.form_data.total_discount=this.discount_amount;
            } else {
                if (this.for_discount_inv == code) {
                    let product_data = this.option_data.all_product[code];
                    let discount_cal = Math.round((+product_data.sale_price * qty) * ((+this.discount * qty) / 100)).toFixed(2);
                    this.single_inv_dis[code] = {
                        id: code,
                        amount: discount_cal
                    };

                    if (this.single_inv_dis[code]) {
                        this.single_inv_dis[code].amount = discount_cal;
                    } else {
                        this.single_inv_dis[code] = {
                            id: code,
                            amount: discount_cal
                        };
                    }

                    let total;
                    let discount_total;
                    discount_total = this.single_inv_dis.reduce(function(total, item) {
                        return total + (+item.amount) || 0;
                    }, 0);
                    this.discount_amount=Math.round(+discount_total).toFixed(2);
                    this.form_data.total_discount=this.discount_amount;
                }
            }


        },
        // all item total
        AllItemTotal() {
            let total;
            let sub_total_set;
            sub_total_set = this.form_data.add_row.reduce(function(total, item) {
                return total + (+item.product_amount) || 0;
            }, 0);
           this.sub_total=Math.round(+sub_total_set).toFixed(2);
           this.form_data.sub_total=this.sub_total;
           this.total_pay =this.TotalAmount();
           this.form_data.total_pay=this.total_pay;
           this.get_pay=this.total_pay;


        },
        TotalAmount()
        {
             return Math.round((+this.sub_total) + (+this.sales_tax) - (+this.discount_amount)).toFixed(2);
        },

        Exchange(event) {
            event.preventDefault();
            if(this.total_pay >0)
            {
              this.exchange_seen = true;
              let exchange=(+this.get_pay)-(+this.total_pay);
              if (exchange==0 || exchange<0) {
                  this.exchange =0;
              }
              else {
                this.exchange=exchange;

              }
            }
        },

        onSelect(option) {

            this.for_discount_inv = option.id;

        },
        OnSelectCus(option) {

            this.form_data.customer_name = option.id;

        },

       //for row add
        internalGridAdd(event) {

            event.preventDefault();
            this.form_data.add_row.push({
                id: 0,
                product_id: '',
                product_qty: '',
                product_name: '',
                product_qty_hand:'',
                product_price: '',
                product_amount: ''
            });
        },
        internalGridRemove(event, item) {
            event.preventDefault();
            this.btnDisable=false;
            let index = this.form_data.add_row.indexOf(item);
            this.form_data.add_row.splice(index, 1);
        },
        AddData(){
          this.button_loading = true;
          axios.post(URL.baseUrl('pos/add'),this.form_data)
          .then(res => {
            this.button_loading = false;
            if(res.data.status==1){
             let check_inv=confirm("Do you want to print invoice?");
             if(check_inv==true)
             {
                this.viewReport({id:res.data.save_id},'pos/pos_data/');
             }

               this.errors =null;
               this.exchange_seen=false;
               this.customer_value ='';
               this.showToster(res.data);
               this.FetchData();
               this.get_pay=0;
               this.discount_amount=0;
               this.total_pay = 0;
               this.sub_total= 0;
               this.sales_tax= 0;
               this.exchange = 0;
               this.discount=0;
               this.form_data.customer_name='';
               this.form_data.comment='';
               this.form_data.pay_type='';
               this.inv_num='';
               this.single_inv_dis=[];
               this.tax_value=[];
               this.all_inv_dis=[];
               this.testfocus();
            }
            else {
                this.errors = res.data.message;
            }

         })
        .catch(error => {
          this.button_loading = false;
          if(error.response.status == 422){
            this.errors = error.response.data.errors;
          }
          var msg = 'opps! something went wrong';
          this.showToster({status:0,message:msg});

        });

      },
    }
}
</script>
