
<style type="text/css">
  .sas p {
    line-height: 1.1;
    font-size: 11px;
    margin: 10px 0;
    padding-left: 18px;
}

.cheading h5 {
    font-weight: 700;
    font-size: 12px;
}
</style>

<template>
    <div>
        <div v-if="page_loading" class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i>Inventory Receive</h4>

                <div class="toolbar no-padding ">
                    <div @click="getModalData($event,{dataUrl:'inventory_receive/create'});testfocus();" class="btn-group"> <span class="btn btn-xs btn-info"><i class="icon-plus"></i>Add New</span></div>

                    <div class="btn-group"> <span class="btn btn-xs  widget-collapse"><i class="icon-refresh"> </i></span> </div>
                    <modal name="myModal" width="900" height="auto" :clickToClose="false">
                        <div v-if="modal_loading">
                            <div class="widget-header">
                                <h4><i class="icon-reorder"></i>Inventory Receive Form</h4>
                                <button type="button" @click="hideModal" class="close close-modify" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modify-wraper">
                                <form @submit.prevent="" @keyup.enter="add({add:'inventory_receive/add'},resetField)"  class="form-horizontal  row-border" id="validate-1">
                                    <div class="pos-form-wraper">
                                        <div v-if="errors" class="alert alert-danger">
                                            <div v-for="(error, index) in errors">
                                                <span v-if="isObject(error)" v-for="err in error">{{err}}</span>
                                                <span v-if="!isObject(error)">{{error}}</span>
                                            </div>
                                        </div>
                                        <div class="row" style="background:rgb(224, 238, 247);">

                                            <table class="responsive " cellspacing="0" >
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-2 text-center addRowPading">Invoice Number</th>
                                                        <th class="col-md-3 addRowPading"> <input v-model="inv_number" type="text" readonly id="inv_number" class="form-control "></th>
                                                        <th class="col-md-7 addRowPading"> </th>
                                                    </tr>
                                                </thead>

                                            </table>
                                        </div>

                                          <br>
                                        <div class="row" >

                                            <div class="overflow">
                                                <table class="responsive table table-striped table-bordered m-b-0" cellspacing="0">
                                                    <thead>
                                                        <tr style="background: rgb(224, 238, 247);">
                                                            <th class="text-center addRowPading">Number</th>
                                                            <th class="text-center addRowPading">Description</th>
                                                            <th class="text-center addRowPading">Last Cost</th>
                                                            <th class="text-center addRowPading">Received Qty</th>
                                                            <th class="text-center addRowPading" width="10%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-focus-input">

                                                        <tr v-for="(row,index) in form_data.add_row" :key="index">
                                                            <td class="text-center addRowPading" valign="middle">
                                                                <input type="text"  style="height: 23px" name="order_no"  :id="index+1"  class="form-control ng-pristine ng-untouched ng-valid ng-empty" @keyup="GetItemData($event,row)" v-model="row.product_id"
                                                                  autocomplete="off" placeholder="Product Code">
                                                            </td>
                                                            <td class="text-center addRowPading" valign="middle">
                                                                <input type="text" style="height: 23px" name="order_no" class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-model="row.description" autocomplete="off"
                                                                  placeholder="Description">
                                                            </td>
                                                            <td class="text-center addRowPading" valign="middle">
                                                                <input type="text" style="height: 23px" name="order_no" class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-model="row.receive_cost" autocomplete="off" @keyup="TotalAmount($event,row,index)"
                                                                  placeholder="Last Cost">
                                                            </td>
                                                            <td class="text-center addRowPading" valign="middle">
                                                                <input type="text" style="height: 23px" name="order_no" :id="index+1+'qty'" class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-model="row.receive_qty" @keyup="TotalAmount($event,row,index)"
                                                                  autocomplete="off" placeholder="Receive Qty">
                                                            </td>
                                                            <td class="text-center addRowPading">
                                                                <button type="button"  @click="internalGridAdd($event)" v-if='(index === form_data.add_row.length - 1)' class="btn btn-info btn-xs btn-custom-padding"><i style="margin-top: 4px" class="fa fa-plus"></i></button>

                                                                <button  type="button" v-else @click="internalGridRemove($event,row)" class="btn btn-danger btn-xs btn-custom-padding"><i style="margin-top: 4px" class="fa fa-times"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" align="right">
                                                                Total
                                                            </td>
                                                            <td class="text-center " valign="middle">
                                                                <input v-model="price_amount" type="text" readonly id="inv_price" class="form-control required"></th>
                                                            <td colspan="2">
                                                                <input v-model="item_amount" type="text" readonly id="inv_amount" class="form-control required"></th>
                                                            </td>

                                                        </tr>

                                               </tbody>
                                           </table>
                                       </div>
                                      </div>
                                  </div>
                              </form>
                              <div class="form-actions" style="margin-left: 0px;margin-right: 0px;">
                                <button type="submit" :disabled="button_loading" @click="add({add:'inventory_receive/add'},resetField)"   value="Submit" class="btn btn-primary pull-right">
                                <i v-if="button_loading" class="fa fa-circle-o-notch fa-spin"></i>
                                submit</button>
                                <button type="button" @click="hideModal" class="btn btn-default pull-right ">Close</button>
                              </div>
                          </div>
                      </div>
                      <div v-if="!modal_loading">
                          <pageLoading></pageLoading>
                      </div>
                  </modal>
                </div>
            </div>
            <div class="widget-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="row">
                        <div class="dataTables_header clearfix">
                            <div class="col-md-6">
                                <div id="DataTables_Table_0_length" class="">
                                    <label>
                                        <select class="form-control" @change="onChange($event)" v-model="paginate_num" name="pageSize">
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_filter" id="DataTables_Table_0_filter">
                                    <label>
                                        <div class="input-group"><span class="input-group-addon"><i class="icon-search"></i></span>
                                            <input v-on:keyup="getResults" v-model="search_input.search_key" type="text" aria-controls="DataTables_Table_0" class="form-control" id="search" placeholder="Enter keyword...">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>No.</td>
                                <td>Invoice Date</td>
                                <td>Invoice Number</td>
                                <td>Total Item</td>
                                <td>Total Amount</td>

                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody v-if="Object.keys(paginate_data.data).length > 0">
                            <tr v-for="(form_data, index) in paginate_data.data" v-bind:key="form_data.id">
                                <td>{{order_no + index + 1}}</td>
                                <td>{{form_data.date }}</td>
                                <td>{{form_data.invoice_number}}</td>
                                <td>{{form_data.total_item}}</td>
                                <td>{{form_data.total_amount}}</td>
                                <td>

                                    <button @click="viewReport({id:form_data.invoice_number},'inventory_receive/view/')" class="btn btn-info">View</button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td colspan="7" align="center">No data in database</td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="row">
                        <div class="dataTables_footer clearfix">
                            <div class="col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info">Showing {{paginate_data.current_page}} of {{paginate_data.last_page}} pages</div>
                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_paginate paging_bootstrap">
                                    <pagination :data="paginate_data" @pagination-change-page="getResults"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!page_loading">
            <pageLoading></pageLoading>
        </div>
    </div>
</template>

<script>

    import { required,minLength } from "vuelidate/lib/validators";
    import Loading from '../Loading.vue';

    export default {
        created(){
          this.getResults(1);
        },
        data(){
            return {
               masterselect:"",
               seen: false,
               inv_number:0,
               product_code:'',
               price_amount:0,
               item_amount:0,
               recieve_all_data:[],
               details_data:[],
               details_company:[],
               product_primary:'',
               button_loading:false
            }
        },
        components:{
            pageLoading:Loading,

        },
        // validations: {
        //     form_data: {
        //
        //     }
        // },

        methods:{

          TotalAmount(event,row,index)
          {

            // check product 
            if(typeof row.product_id ==='undefined' && !row.product_id){
              alert('Please Enter product code');
              row.receive_cost = '';
              row.receive_qty = '';
            }
            // check negative
            if(row.receive_qty && parseFloat(row.receive_qty) < 1){
               alert('Receive qty should be greater then zero');
               row.receive_qty = '';
            }
            this.TotalAmountCalculator();
            var add_row_length = this.form_data.add_row.length;
            if(this.form_data.add_row[add_row_length-1].receive_qty !== ''){
              this.internalGridAdd(event);
            }
            var vm = this;
            if(row.receive_qty !== ''){
              if(index == add_row_length-1){
                setTimeout(function(){
                  focusInput(vm.form_data.add_row);
                },500);
              }
            }

            

          },
          GetItemData(event,row)
          {
            event.preventDefault();
            let product_code = row.product_id;
            let productInfo = this.form_data.all_product[product_code];
            if(productInfo){
              row.description = productInfo.inv_product_name;
              row.receive_cost = productInfo.last_cost;
              this.inv_number=this.form_data.invoice_number;
              row.product_primary=productInfo.id;
              var vm = this;
              setTimeout(function(){
                focusInput(vm.form_data.add_row);
              },500);

            }else{
              row.description = '';
              row.receive_cost = '';
              row.receive_qty = '';
              row.product_primary='';
              this.TotalAmountCalculator();

            }
          },
          TotalAmountCalculator(){
            let total;
            this.price_amount= this.form_data.add_row.reduce(function(total, item){
                return total + (+item.receive_cost * +item.receive_qty) || 0;
              },0);

            this.item_amount= this.form_data.add_row.reduce(function(total, item){
                  return total + (+item.receive_qty) ;
              },0);

            if(isNaN(this.item_amount) || isNaN(this.price_amount))
            {
              this.item_amount=0;
              this.price_amount=0;
            }

            this.form_data.total_item= this.item_amount;
            this.form_data.total_amount=this.price_amount;
            this.form_data.invoice_number= this.inv_number;

          },
          myChangeEvent(val){
               console.log(val);
           },
           mySelectEvent({id, text}){
               console.log({id, text})
           },
           internalGridAdd(event){
              event.preventDefault();
              this.form_data.add_row.push({id:0,product_id:'',description:'',receive_cost:'',receive_qty:''});
           },
           internalGridRemove(event, item){
               event.preventDefault();
               let index = this.form_data.add_row.indexOf(item);
               this.form_data.add_row.splice(index, 1);
           },
         resetField()
         {
           this.item_amount='';
           this.price_amount='';

         },
         testfocus(){
           setTimeout(function(){
               focusInput();
           }, 1000);
         },


       }
  }
</script>
