<template>
    <div>
        <div v-if="page_loading" class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i>Post Accounnt Receive</h4>

                <div class="toolbar no-padding ">

                    <div class="btn-group"> <span class="btn btn-xs  widget-collapse"><i class="icon-refresh"> </i></span> </div>
                    <modal name="myModal" transition="scale" width="900" height="auto" :clickToClose="false">
                        <div v-if="modal_loading">
                            <div class="widget-header">
                                <h4><i class="icon-reorder"></i>View Statement</h4>
                                <button type="button" @click="hideModal" class="close close-modify" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modify-wraper">
                                <br>

                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-9">
                                        <h3 style="color: green;">Current Balances</h3>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10" style="border:1px solid;  background: rgb(245, 244, 244)">
                                        <div class="row ">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10 text-center">
                                                <h3><b>Statement</b></h3>
                                            </div>

                                            <div class="col-md-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4" style="border: 1px solid;margin-right: 20px;">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <span>{{form_data.customer_details.customer_number}}</span><br>
                                                        <span>{{form_data.customer_details.customer_name}}</span><br>
                                                        <span>{{form_data.customer_details.customer_phone}}</span><br>
                                                        <span>{{form_data.customer_details.customer_address}}</span><br>
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <span>{{form_data.customer_details.customer_city}}</span>

                                                    </div>

                                                    <div class="col-md-6">
                                                        <span>{{form_data.customer_details.customer_state}}</span>

                                                    </div>
                                                    <div class="col-md-3">
                                                        <span>{{form_data.customer_details.customer_zip}}</span>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6" style="border: 1px solid;    height: 152px; ">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <h2><b>Balance Due</b></h2>

                                                    </div>
                                                    <div class="col-md-4">
                                                        <h2 style="color: green;"><b>{{form_data.payment_details.total_due}}</b></h2>

                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <table class="table table-striped ">
                                                        <thead>
                                                            <tr>

                                                                <td> Current</td>
                                                                <td>30-60 Days </td>
                                                                <td>60-90 Days</td>
                                                                <td>90+ Days</td>

                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <td class="text-center" style="color: green;">{{form_data.due_duration.current}}</td>
                                                                <td class="text-center" style="color: green;">{{form_data.due_duration.days_30_60}}</td>
                                                                <td class="text-center" style="color: green;">{{form_data.due_duration.days_60_90}}</td>
                                                                <td class="text-center" style="color: green;">{{form_data.due_duration.days_plus_90}}</td>
                                                            </tr>
                                                        </tbody>

                                                    </table>

                                                </div>

                                            </div>
                                            <div class="col-md-1"></div>

                                        </div>
                                        <br>
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="overflow">
                                                    <form @submit.prevent="AddData()" class="form-horizontal  row-border" id="validate-1">
                                                        <table class="responsive table table-striped table-bordered m-b-0" cellspacing="0">
                                                            <thead>
                                                                <tr style="background: rgb(224, 238, 247);">
                                                                    <th class="text-center addRowPading">Previous Balance</th>
                                                                    <th class="text-center addRowPading">Current Charges</th>
                                                                    <th class="text-center addRowPading">Current Payment</th>
                                                                    <th class="text-center addRowPading">Balance Due</th>
                                                                    <th class="text-center addRowPading">Payment Date</th>
                                                                    <th class="text-center addRowPading">Amount Paid</th>
                                                                    <th class="text-center addRowPading">Pyment Type</th>
                                                                    <th class="text-center addRowPading"></th>

                                                                </tr>
                                                            </thead>

                                                            <tbody>

                                                                <tr>
                                                                    <td class="text-center addRowPading" valign="middle">
                                                                        0.00
                                                                    </td>
                                                                    <td class="text-center addRowPading" valign="middle">
                                                                        {{form_data.payment_details.total_sale}}
                                                                    </td>
                                                                    <td class="text-center addRowPading" valign="middle">
                                                                        {{form_data.payment_details.total_pay}}
                                                                    </td>
                                                                    <td class="text-center addRowPading" valign="middle">
                                                                        {{form_data.payment_details.total_due}}
                                                                    </td>
                                                                    <td class="text-center addRowPading" valign="middle">
                                                                        {{date}}
                                                                    </td>

                                                                    <td class="text-center addRowPading" valign="middle">
                                                                        <span :class="{ 'has-error': $v.form_data.pay_amount.$error }">
                                                                            {{$v.form_data.pay_amount.$touch()}}

                                                                            <input type="text" style="height: 23px;width: 144px;" name="total_pay" class="form-control ng-pristine ng-untouched ng-valid ng-empty" @keyup="checkValue(form_data)" v-model="form_data.pay_amount"
                                                                              autocomplete="off" placeholder="Total Pay">
                                                                        </span>
                                                                    </td>
                                                                    <td class="text-center addRowPading" valign="middle">
                                                                        Cash
                                                                    </td>
                                                                    <td class="text-center addRowPading" valign="middle">
                                                                        <button type="submit" :disabled="isComplete" class="btn btn-success pull-right">
                                                                            <i v-if="button_loading" class="fa fa-circle-o-notch fa-spin"></i>
                                                                            Payment
                                                                        </button>

                                                                    </td>
                                                                </tr>

                                                            </tbody>

                                                        </table>
                                                    </form>
                                                </div>
                                            </div>


                                        </div>


                                    </div>

                                    <div class="col-md-1"></div>


                                </div>
                                <br>
                            </div>
                        </div>
                        <div v-if="!modal_loading">
                            <pageLoading></pageLoading>
                        </div>
                    </modal>
                </div>
            </div>
            <div class="widget-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="row">
                        <div class="dataTables_header clearfix">
                            <div class="col-md-6">
                                <div id="DataTables_Table_0_length" class="">
                                    <label>
                                        <select class="form-control" @change="onChange($event)" v-model="paginate_num" name="pageSize">
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_filter" id="DataTables_Table_0_filter">
                                    <label>
                                        <div class="input-group"><span class="input-group-addon"><i class="icon-search"></i></span>
                                            <input v-on:keyup="getResults" v-model="search_input.search_key" type="text" aria-controls="DataTables_Table_0" class="form-control" id="search" placeholder="Enter keyword...">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>No.</td>
                                <td>Customer Name</td>
                                <td>Customer Code </td>
                                <td>Current Charges</td>
                                <td>Current Payments</td>
                                <td>Balance Due</td>
                                <td>Payment Date</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody v-if="Object.keys(paginate_data.data).length > 0">
                            <tr v-for="(form_data, index) in paginate_data.data" v-bind:key="form_data.id">

                                <td>{{index + 1}}</td>
                                <td>{{form_data.customer_name}}</td>
                                <td>{{form_data.customer_number}}</td>
                                <td>{{(form_data.total_sub + form_data.total_tax)-form_data.discount_total}}</td>
                                <td>{{form_data.payment}}</td>
                                <td>{{form_data.due_balance}}</td>
                                <td>{{date}}</td>
                                <!-- <form @submit.prevent="AddData()" class="form-horizontal  row-border" id="validate-1"> -->
                                <!-- <input type="hidden" style="height: 23px" name="customer_id" class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-model="form_data.customer_id"  autocomplete="off"  placeholder="Customer Id">
                                <td> -->
                                <!-- <span :class="{ 'has-error': $v.form_data.total_pay.$error }">
                                    {{$v.form_data.total_pay.$touch()}} -->
                                <!-- <input type="text" style="height: 23px" name="total_pay" class="form-control ng-pristine ng-untouched ng-valid ng-empty" v-model="form_data.total_pay"  autocomplete="off"  placeholder="Total Pay"> -->
                                <!-- </span> :disabled="isComplete" -->
                                <!-- </td> -->



                                <td>
                                    <button @click="getModalData($event,{dataUrl:'post_ar_view_statement/edit/'+form_data.customer_id})" class="btn btn-info" data-toggle="modal" data-target="#myModal">View Statement</button>
                                </td>
                                <!-- </form> -->
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td colspan="10" align="center">No data in database</td>
                            </tr>
                        </tbody>


                    </table>


                    <div class="row">
                        <div class="dataTables_footer clearfix">
                            <div class="col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info">Showing {{paginate_data.current_page}} of {{paginate_data.last_page}} pages</div>
                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_paginate paging_bootstrap">
                                    <pagination :data="paginate_data" @pagination-change-page="getResults"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!page_loading">
            <pageLoading></pageLoading>
        </div>
    </div>
</template>
<script>
import {required,minLength} from "vuelidate/lib/validators";
import Loading from '../Loading.vue';

export default {
    created() {
        this.getResults(1);
        this.DateShow();
          // this.form_data={};
    },
    data() {
        return {
            masterselect: "",
            date:'',
            button_loading:false
        }
    },
    components: {
        pageLoading: Loading
    },
    validations: {
        form_data: {
            pay_amount: { required },
        }
    },

    methods: {
      DateShow() {
          const today = new Date();
          const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
          this.date = monthNames[today.getMonth()] + ' ' + today.getDate() + ' , ' + today.getFullYear();

      },
      AddData()
      {
        if (typeof this.button_loading != 'undefined') {
            this.button_loading = true;
        }
        axios.post(URL.baseUrl('post_ar_payment/edit'),this.form_data)
        .then(res => {
          if(res.data.status==1){
            this.$modal.hide('myModal');
            this.getResults(1);
          }else{
            this.showToster(res.data);
          }
          if (typeof this.button_loading != 'undefined') {
             this.button_loading = false;
          }
        })
        .catch(error => {

          if(error.response.status == 422){
            this.errors = error.response.data.errors;
          }
          if (typeof this.button_loading != 'undefined') {
             this.button_loading = false;
          }
          var msg = 'opps! something went wrong';
          this.showToster({status:0,message:msg});

        });
      },
      checkValue(row){
        var check = parseFloat(row.pay_amount);
        if(check <= 0){
            alert("Pay amount should be grater then 0");
            row.pay_amount ='';
        }
        
        var due_amount = row.payment_details.total_due.replace(",", "");

        if(check > due_amount){
            alert("Pay amount should not be grater then due amount");
            row.pay_amount ='';
        }
      }

    }

}
</script>
