<template>
	<ul class="top-menu-list">
		<li v-for="list in topMenuData">
            <router-link :to="list.menu_link">
                <i :class="list.menu_icon"></i>
                <span class="tooltiptext">{{list.menu_name}}</span>
            </router-link>
        </li>
	</ul>
</template>
<style>
	.top-menu-list{
		position: absolute;
		left: 20%;
		top: 0;
		margin: 0px;
		padding: 0px;
	}
	.top-menu-list li{
		list-style: none;
		display: inline-block;
		margin-right: 10px;
	}
	.top-menu-list li a{
		color: #fff;
		line-height: 58px;
		padding: 16px 16px;
		position: relative;
	}
	.top-menu-list li a i{
		font-size: 28px;
	}
    .tooltiptext {
	  visibility: hidden;
	  width: 120px;
	  background-color: black;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 5px 0;

	  /* Position the tooltip */
	  position: absolute;
	  z-index: 1;
	  left: 0;
	  top: 90%;
	  line-height: 20px;
	}

	.top-menu-list li a:hover .tooltiptext {
	  visibility: visible;
	}
</style>
<script>
    export default {
        data(){
            return {
                topMenuData:[]
            }
        },
        methods:{
            topmenuList(){
            	console.log('helloS');
                axios.get(URL.baseUrl('getmenu'))
                .then(res => {
                    this.topMenuData=res.data.menuTopbar;
                    console.log()
                })
                .catch(error => {
                    console.log(error);               
                });
            }
        },
        created() {
            this.topmenuList();
        }
    }
</script>