<template>
	<div>
		<div v-if="page_loading" class="widget box">
	        <div class="widget-header">
	            <h4><i class="icon-reorder"></i>Vendor</h4>

	            <div class="toolbar no-padding">
	                <div @click="getModalData($event)" class="btn-group"> <span class="btn btn-xs btn-info"><i class="icon-plus"></i>Add New</span> </div>


	                <div class="btn-group" @click="reload"><span class="btn btn-xs"><i class="icon-refresh"> </i></span> </div>
	                <modal name="myModal" width="800" height="auto" :clickToClose="false">
	                    <div v-if="modal_loading">
	                        <div class="widget-header set-widget-padding">
	                            <h4><i class="icon-reorder"></i>Vandor Form</h4>
	                             <button type="button" @click="hideModal" class="close close-modify" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                        </div>
	                        <div class="modify-wraper">
	                                <form @submit.prevent="add({add:'add/vendor'})" class="form-horizontal  row-border" id="validate-1">
	                                    <div class="my-form-wraper">
	                                        <div v-if="errors" class="alert alert-danger">
	                                            <div v-for="(error, index) in errors">
	                                                <span v-if="isObject(error)" v-for="err in error">{{err}}</span>
	                                                <span v-if="!isObject(error)">{{error}}</span>
	                                            </div>
	                                        </div>
	                                        <div class="upper-part">
	                                        	<div class="row">
		                                        	<div class="col-md-7">
				                                        <div class="form-group modify-input">
				                                            <label class="col-md-3 control-label">Vandor #</label>
				                                            <div class="col-md-6" :class="{ 'has-error': $v.form_data.vendor_number.$error }">
																{{$v.form_data.vendor_number.$touch()}}
				                                                <input v-model="form_data.vendor_number" type="text" class="form-control required" placeholder="Vendor">
				                                            </div>
				                                        </div>
				                                        <div class="form-group modify-input">
				                                            <label class="col-md-3 control-label">Company</label>
				                                            <div class="col-md-9" :class="{ 'has-error': $v.form_data.vendor_name.$error }">
																{{$v.form_data.vendor_name.$touch()}}
				                                                <input v-model="form_data.vendor_name" type="text" class="form-control required" placeholder="Company">
				                                            </div>
				                                        </div>
				                                        <div class="form-group modify-input">
				                                            <label class="col-md-3 control-label">Contact Name</label>
				                                            <div class="col-md-9" >
																<input v-model="form_data.vendor_contact_person" type="text" class="form-control required" placeholder="Contact Name">
				                                            </div>
				                                        </div>
				                                        <div class="form-group modify-input">
			                                        		<label class="col-md-3 control-label">Address</label>
				                                            <div class="col-md-9">
																<textarea v-model="form_data.vendor_address" type="text" class="form-control required textarea-height-set" placeholder="Address"></textarea>
				                                            </div>
				                                        </div>
				                                    </div>
				                                    <div class="col-md-5"></div>
			                                    </div>
	                                        </div>
	                                 		<div class="lower-part">
	                         					<div class="row">
	                         						<div class="col-md-6">
	                         							<div class="form-group modify-input">
		                         							<label class="col-md-4 control-label city-label">Phone</span></label>
				                                            <div class="col-md-8 set-left-padding">
																<input v-model="form_data.vendor_phone" type="text" class="form-control required" placeholder="Phone">
				                                            </div>
			                                        	</div>
	                         						</div>
	                         						<div class="col-md-6">
	                         							<div class="form-group modify-input">
	                         								<label class="col-md-3 fax control-label label-rignt">Fax</label>
				                                            <div class="col-md-9">
				                                                <input v-model="form_data.vendor_fax" type="text" class="form-control required" placeholder="Fax">
				                                            </div>
	                         							</div>
	                         						</div>
	                         					</div>
	                         					<div class="row">
	                         						<div class="col-md-6">
	                         							<div class="form-group modify-input">
	                         								<label class="col-md-4 control-label city-label">Email</label>
				                                            <div class="col-md-8 set-left-padding">
																<input v-model="form_data.vendor_email" type="text" class="form-control required" placeholder="Email">
				                                            </div>
	                         							</div>
	                         						</div>
	                         						<div class="col-md-6">
	                         							<div class="form-group modify-input">
	                         								<label class="col-md-3 control-label label-rignt">http://</label>
				                                            <div class="col-md-9">
				                                                <input v-model="form_data.vendor_url" type="text" class="form-control required" placeholder="http">
				                                            </div>
	                         							</div>
	                         						</div>
	                         					</div>
	                         					<div class="row" v-if="form_data.id">
	                         						<div class="col-md-6">
			                                        	<div class="form-group modify-input">
				                                            <label style="padding-right: 0px;" class="col-md-5 control-label city-label">Last Date Product sold</label>
				                                            <div class="col-md-5 city-field">
				                                                <input v-model="form_data.last_date_product_sold" type="date" class="form-control required" placeholder="Date" readonly>
				                                            </div>
			                                        	</div>
		                                        	</div>
	                                        	</div>
	                                        	<div class="row">
	                                        		<div v-if="form_data.id" class="col-md-6">
		                                        		<div class="form-group modify-input">
		                                        			<div class="vendor-table">
			                                        	 		<h5>Total Sales On Item From This Vendor</h5>
			                                        	 		<div class="col-md-12">
			                                        	 			<div class="table-border">
					                                        	 		<table>
					                                        	 			<thead>
					                                        	 				<th></th>
					                                        	 				<th v-if="form_data.company_config.account_header_a!='0'" class="text-center">Shift</th>
			                                                                    <th v-if="form_data.company_config.account_header_b!='0'" class="text-center">Daily</th>
			                                                                    <th v-if="form_data.company_config.account_header_c!='0'" class="text-center">Monthly</th>
			                                                                    <th v-if="form_data.company_config.account_header_d!='0'" class="text-center">Yearly</th>
					                                        	 			</thead>
					                                        	 			<tbody>
					                                        	 				<tr>
					                                        	 					<td>Sales</td>
					                                        	 					<td v-if="form_data.company_config.account_header_a!='0'"  class="text-right">
				                                                                        <p v-if="form_data.id">{{form_data.shift}}</p>
				                                                                        <p v-else>0.00</p>
				                                                                    </td>
				                                                                    <td v-if="form_data.company_config.account_header_b!='0'"  class="text-right">
				                                                                        <p v-if="form_data.id">{{form_data.total_vendor_sales_1}}</p>
				                                                                        <p v-else>0.00</p>
				                                                                    </td>
				                                                                    <td v-if="form_data.company_config.account_header_c!='0'"  class="text-right">
				                                                                        <p v-if="form_data.id">{{form_data.total_vendor_sales_2}}</p>
				                                                                        <p v-else>0.00</p>
				                                                                    </td>
				                                                                    <td v-if="form_data.company_config.account_header_d!='0'"  class="text-right">
				                                                                        <p v-if="form_data.id">{{form_data.total_vendor_sales_3}}</p>
				                                                                        <p v-else>0.00</p>
				                                                                    </td>
					                                        	 				</tr>
					                                        	 			</tbody>
					                                        	 		</table>
				                                        	 		</div>
			                                        	 		</div>
		                                        	 		</div>
		                                        	 	</div>
	                                        	 	</div>
	                                        		<div class="col-md-6">
	                                        			<div class="form-group modify-input">
		                                        			<label class="col-md-12 control-label city-label">Comments</span></label>
				                                            <div class="col-md-12 city-field">
					                                            <textarea v-model="form_data.vendor_comment" type="text" class="form-control required textarea-height-set" placeholder="comments"></textarea>
				                                            </div>
			                                        	</div>
	                                        		</div>
	                                        	</div>
	                                 		</div>
	                                    </div>
	                                        <div class="form-actions pos-action">
	                                            <input type="submit" value="Submit" :disabled="isComplete" class="btn btn-primary pull-right pos-button">
	                                            <button type="button" @click="hideModal" class="btn btn-default pull-right pos-button">Close</button>
	                                        </div>
	                                </form>
	                        </div>
	                    </div>
	                    <div v-if="!modal_loading">
	                        <pageLoading></pageLoading>
	                    </div>
	                </modal>
	            </div>
	        </div>
	        <div class="widget-content size-table-layout">
	            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
	                <div class="row">
	                    <div class="dataTables_header clearfix">
	                        <div class="col-md-6">
	                            <div id="DataTables_Table_0_length" class="">
	                                <label>
	                                    <select class="form-control" @change="onChange($event)" v-model="paginate_num"  name="pageSize">
	                                    	<option value="10">10</option>
	                                        <option value="25">25</option>
	                                        <option value="50">50</option>
	                                    	<option value="100">100</option>
	                                    </select>
	                                </label>
	                            </div>
	                        </div>
	                        <div class="col-md-6">
	                            <div class="dataTables_filter" id="DataTables_Table_0_filter">
	                                <label>
	                                    <div class="input-group"><span class="input-group-addon"><i class="icon-search"></i></span>
	                                        <input v-on:keyup="getResults" v-model="search_input.search_key" type="text" aria-controls="DataTables_Table_0" class="form-control" id="search"  placeholder="Enter keyword...">
	                                    </div>
	                                </label>
	                            </div>
	                        </div>
	                    </div>
	                </div>

	                <table class="table table-striped table-bordered table-hover">
	                    <thead>
	                        <tr>
	                            <td style="width: 5%;">No.</td>
	                            <td class="sortable" v-bind:class="getSortingClass('vendor_number')" @click="sortingChanged('vendor_number')">
	                                Vandor #
	                            </td>
	                            <td class="sortable" v-bind:class="getSortingClass('vendor_name')" @click="sortingChanged('vendor_name')">
	                                Company name
	                            </td>
	                            <td>
	                                Vendor Address
	                            </td>
	                            <td class="sortable" v-bind:class="getSortingClass('vendor_phone')" @click="sortingChanged('vendor_phone')">
	                                Phone
	                            </td>
	                            <td>Action</td>
	                        </tr>
	                    </thead>
	                    <tbody v-if="Object.keys(paginate_data.data).length > 0">
	                        <tr v-for="(list, index) in paginate_data.data" v-bind:key="list.id">
	                            <td>{{order_no + index + 1}}</td>
	                            <td>{{list.vendor_number}}</td>
	                            <td>{{list.vendor_name}}</td>
	                            <td>{{list.vendor_contact_person}}</td>
	                            <td>{{list.vendor_phone}}</td>
	                            <td style="width: 20%;" class="action">
	                            	<button @click="getModalData($event,{dataUrl:'edit/vendor/'+list.id})" class="btn-xs btn-info" title="" data-original-title="Edit" data-toggle="modal" data-target="#myModal"><i class="icon-edit"></i> Edit</button>
	                            	<button @click="deleteItem({delUrl:'delete/vendor/'+list.id})" class="btn-xs btn-danger" title="" data-original-title="Delete"><i class="icon-trash"></i> Delete</button>
	                            </td>
	                        </tr>
	                    </tbody>
	                    <tbody v-else>
	                        <tr>
	                            <td colspan="9" align="center">No data in database</td>
	                        </tr>
	                    </tbody>
	                </table>


	                <div class="row">
	                    <div class="dataTables_footer clearfix">
	                        <div class="col-md-6">
	                            <div class="dataTables_info" id="DataTables_Table_0_info">Showing {{paginate_data.current_page}} of {{paginate_data.last_page}} pages</div>
	                        </div>
	                        <div class="col-md-6">
	                            <div class="dataTables_paginate paging_bootstrap">
	                                <pagination :data="paginate_data" :limit="2" @pagination-change-page="getResults"></pagination>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
    	</div>
    	<div v-if="!page_loading">
	        <pageLoading></pageLoading>
	    </div>
	</div>
</template>

<script>
    import { required} from "vuelidate/lib/validators";

    export default {
    	created(){
            this.getResults(1);
        },
				validations: {
					form_data: {
						vendor_number: { required },
						vendor_name:{required},
					}
				},
				methods:
				{
					test()
					{
						console.log("test");
					}
				}

    }
</script>
