<template>
	<div>
		<div class="widget box">
	        <div class="widget-header accounts customer-config">
                <div class="customer-config-list">
                	<ul>
                		<li @click="setActive('Income')" :class="isActive('Income')">Income</li>
                		<li @click="setActive('PaymentType')" :class="isActive('PaymentType')">Payment Type</li>
                		<li @click="setActive('SalesTex')" :class="isActive('SalesTex')">Sales Tax</li>
                		<li @click="setActive('Summery')" :class="isActive('Summery')">Summary</li>
                	</ul>
                </div>
                <button class="btn btn-primary pull-right" @click="viewReport()">print</button>
                <component :is='activeItem'></component>
	        </div>
    	</div>
	</div>
</template>

<script>
    import {required} from "vuelidate/lib/validators";
    import Income from './Income.vue';
    import PaymentType from './PaymentType.vue';
    import SalesTex from './SalesTex.vue';
    import Summery from './Summery.vue';
    export default {
    	data(){
    		return {
    			activeItem:'Income'
    		}
    	},
    	created(){
            /*this.getResults(1);*/
        },
        methods:{
        	isActive(menuItem) {
		      if(this.activeItem === menuItem){
		      	return 'active'
		      }else{
		      	return ''
		      }
		    },
		    setActive(menuItem) {
		      this.activeItem = menuItem // no need for Vue.set()
		    }
        },
        components:{
        	Income:Income,
        	PaymentType:PaymentType,
        	SalesTex:SalesTex,
        	Summery:Summery
        }
    }
</script>
