<template>
    <div class="modify-wraper pos-line-set">
        <div v-if="modal_loading">
            <!-- <button class="btn btn-primary pull-right" v-print="'#payment-report'">print</button> -->
            <div class="container">
                <div id="payment-report">
                    <h2>Payment Report</h2>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th></th>
                            <th v-if="accout_info.company_config.account_header_a != '0'">Shift</th>
                            <th v-if="accout_info.company_config.account_header_b != '0'">Daily</th>
                            <th v-if="accout_info.company_config.account_header_c != '0'">Mothly</th>
                            <th v-if="accout_info.company_config.account_header_d != '0'">Year-To-Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(accout_data in accout_info.accout_payment_type">
                            <td>{{accout_data.title}}</td>
                            <td v-if="accout_info.company_config.account_header_a != '0'">Tk {{accout_data.shift}}</td>
                            <td v-if="accout_info.company_config.account_header_b != '0'">Tk {{accout_data.daily}}</td>
                            <td v-if="accout_info.company_config.account_header_c != '0'">Tk {{accout_data.monthly}}</td>
                            <td v-if="accout_info.company_config.account_header_d != '0'">Tk {{accout_data.yearly}}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div v-if="!modal_loading">
            <pageLoading></pageLoading>
        </div> 
    </div>
</template>

<script>
    import { required} from "vuelidate/lib/validators";

    export default {
        data(){
            return {
                accout_info:{}
            }
        },
        created(){
            this.getAccountCollection();
        },
        methods:{
            add_config(addUrl){
                axios.post(URL.baseUrl(addUrl.add),this.form_data)
                .then(res => {
                    this.errors =null;
                    this.showToster(res.data);
                })
                .catch(error => {
                    if(error.response.status == 422){
                      this.errors = error.response.data.errors;
                    }
                    var msg = 'opps! something went wrong';
                    this.showToster({status:0,message:msg});
                });
            },
            getAccountCollection(){
                var fetchUrl ="accounts-paytype/report";
                axios.get(URL.baseUrl(fetchUrl))
                .then(res => {
                  this.accout_info = res.data;
                  console.log(this.accout_info);
                  this.modal_loading= true;
                })
                .catch(error => {
                  this.showToster({status:0,message:'opps! something went wrong'});
                  this.modal_loading= true;
                })
            }
        }
    }
</script>