<template>
    <div class="modify-wraper pos-line-set">
        <div v-if="modal_loading">
            <!-- <button class="btn btn-primary pull-right" v-print="'#summery-report'">print</button> -->
            <div class="container">
                <div id="summery-report">
                    <h2>Invoice Summery Report</h2>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Invoice #</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Sales Person</th>
                            <th>Total</th>
                            <th>Pay Type</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(accout_data in accout_info.summery">
                            <td>{{accout_data.number}}</td>
                            <td>{{accout_data.date}}</td>
                            <td>{{accout_data.c_name}}</td>
                            <td>{{accout_data.sp_name}}</td>
                            <td>{{accout_data.total}}</td>
                            <td>{{accout_data.paytype}}</td>
                          </tr>
                           <hr>
                        <tr>
                            <td>Income Recieved</td>
                            <td colspan="4" class="text-right">{{accout_info.recieved_income}}</td>
                        </tr>
                         <tr>
                            <td>Account Receiveable Sales</td>
                            <td colspan="4" class="text-right">{{accout_info.recieved_on_account}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div v-if="!modal_loading">
            <pageLoading></pageLoading>
        </div> 
    </div>
</template>

<script>
    import { required} from "vuelidate/lib/validators";

    export default {
        data(){
            return {
                accout_info:{}
            }
        },
        created(){
            this.getAccountCollection();
        },
        methods:{
            add_config(addUrl){
                axios.post(URL.baseUrl(addUrl.add),this.form_data)
                .then(res => {
                    this.errors =null;
                    this.showToster(res.data);
                })
                .catch(error => {
                    if(error.response.status == 422){
                      this.errors = error.response.data.errors;
                    }
                    var msg = 'opps! something went wrong';
                    this.showToster({status:0,message:msg});
                });
            },
            getAccountCollection(){
                var fetchUrl ="account-summery/report";
                axios.get(URL.baseUrl(fetchUrl))
                .then(res => {
                  this.accout_info = res.data;
                  console.log(this.accout_info);
                  this.modal_loading= true;
                })
                .catch(error => {
                  this.showToster({status:0,message:'opps! something went wrong'});
                  this.modal_loading= true;
                })
            }
        }
    }
</script>