<template>
	<div>
		<div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
                <li>
                    <i :class="$route.meta.icon"></i>
                    <a href="#">{{$route.meta.title}}</a>
                </li>
                <li v-if="$route.meta.subtitle" class="current">
                    <a href="#" title="">{{$route.meta.subtitle}}</a>
                </li>
                <li v-if="$route.meta.deeptitle" class="current">
                    <a href="#" title="">{{$route.meta.deeptitle}}</a>
                </li>
            </ul>
        </div>
	</div>
</template>
