<template>
  <div>
    <div v-if="page_loading">
      <div class="row row-bg">
        <div class="col-sm-6 col-md-3">
          <div class="statbox widget box box-shadow">
            <div class="widget-content">
              <div class="visual cyan">
                 <i class="icon-reorder"></i>
              </div>
              <div class="title">Category</div>
               <div class="value">{{form_data.total_category}}</div> <a class="more" href="javascript:void(0);"></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="statbox widget box box-shadow">
            <div class="widget-content">
              <div class="visual green">
                <i class="icon-user"></i>
              </div>
              <div class="title">Vendor</div>
            <div class="value">{{form_data.total_vendor}}</div> <a class="more" href="javascript:void(0);"></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs">
          <div class="statbox widget box box-shadow">
            <div class="widget-content">
              <div class="visual yellow"> <i class="icon-archive"></i> </div>
              <div class="title">Stock In Item</div>
              <div class="value">{{form_data.total_product}}</div> <a class="more" href="javascript:void(0);"></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs">
          <div class="statbox widget box box-shadow">
            <div class="widget-content">
              <div class="visual red"> <i class="icon-archive"></i> </div>
              <div class="title">Total Sold Item </div>
            <div class="value">{{form_data.total_sold_item}}</div> <a class="more" href="javascript:void(0);"></a>
            </div>
          </div>
        </div>




        <div class="col-sm-6 col-md-3">
          <div class="statbox widget box box-shadow">
            <div class="widget-content">
              <div class="visual cyan">
                 <i class="icon-dollar"></i>
              </div>
              <div class="title">Daily Total Sale</div>
               <div class="value">{{form_data.daily_sale.toFixed(2)}} tk</div> <a class="more" href="javascript:void(0);"></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs">
          <div class="statbox widget box box-shadow">
            <div class="widget-content">
              <div class="visual green"> <i class="icon-dollar"></i> </div>
              <div class="title">Monthly Total Sale</div>
              <div class="value">{{form_data.monthly_sale.toFixed(2)}} tk</div> <a class="more" href="javascript:void(0);"></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs">
          <div class="statbox widget box box-shadow">
            <div class="widget-content">
              <div class="visual yellow"> <i class="icon-dollar"></i> </div>
              <div class="title">Yearly Total sale </div>
            <div class="value">{{form_data.total_sale.toFixed(2)}} tk</div> <a class="more" href="javascript:void(0);"></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="statbox widget box box-shadow">
            <div class="widget-content">
              <div class="visual red">
                <i class="icon-dollar"></i>
              </div>
              <div class="title">Total Profit</div>
            <div class="value">{{form_data.total_profit.toFixed(2)}} tk</div> <a class="more" href="javascript:void(0);"></a>
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="row">
        <div class="col-md-4">
          <div class="widget box">
            <div class="widget-header">
              <h4><i class="icon-reorder"></i> Daily Sale</h4>
              <div class="toolbar no-padding">
                <div class="btn-group"> <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span> </div>
              </div>
            </div>
            <div class="widget-content">
              <div id="chart_daily_sell" class="chart" > </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget box">
            <div class="widget-header">
              <h4><i class="icon-reorder"></i> Mothly Sale</h4>
              <div class="toolbar no-padding">
                <div class="btn-group"> <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span> </div>
              </div>
            </div>
            <div class="widget-content">
              <div id="chart_monthly_sell" class="chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget box">
            <div class="widget-header">
              <h4><i class="icon-reorder"></i> Yearly Sale</h4>
              <div class="toolbar no-padding">
                <div class="btn-group"> <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span> </div>
              </div>
            </div>
            <div class="widget-content">
              <div id="chart_filled_blue" class="chart"></div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-md-4">
          <div class="widget box">
            <div class="widget-header">
              <h4><i class="icon-reorder"></i> Best Selling Product</h4>
              <div class="toolbar no-padding">
                <div class="btn-group"> <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span> </div>
              </div>
            </div>
            <div class="widget-content">
              <div id="chart_bars_vertical" class="chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget box">
            <div class="widget-header">
              <h4><i class="icon-reorder"></i> Cash & Account Receivable</h4>
              <div class="toolbar no-padding">
                <div class="btn-group"> <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span> </div>
              </div>
            </div>
            <div class="widget-content">
              <div id="chart_pie" class="chart"></div>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget box">
            <div class="widget-header">
              <h4><i class="icon-reorder"></i> Worst Selling Product</h4>
              <div class="toolbar no-padding">
                <div class="btn-group"> <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span> </div>
              </div>
            </div>
            <div class="widget-content">
              <div id="chart_bars_vertical-1" class="chart"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="widget box">
            <div class="widget-header">
              <h4><i class="icon-reorder"></i> Profit Loss On Sale</h4>
              <div class="toolbar no-padding">
                <div class="btn-group"> <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span> </div>
              </div>
            </div>
            <div class="widget-content">
              <div id="chart_filled_red" class="chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget box">
            <div class="widget-header">
              <h4><i class="icon-reorder"></i>Sell By Category</h4>
              <div class="toolbar no-padding">
                <div class="btn-group"> <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span> </div>
              </div>
            </div>
            <div class="widget-content">
              <div id="chart_bars_horizontal" class="chart"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div v-if="!page_loading">
      <pageLoading></pageLoading>
    </div>
  </div>
</template>
<script type="text/javascript">
export default {
  created(){
        this.getResults(1);
        // this.test();

    },
   methods:
    {
      test(all_data)
      {
          setTimeout(function(){

            cash_receivable(all_data.cash_sale,all_data.receivable);
            sell_by_category(all_data.sell_by_category);
            // daily_sell(all_data.daily_sale);
            // monthly_sell(all_data.monthly_sale);
            // yearly_sell(all_data.yearly_sale);
            best_seeling(all_data['best_seller']);
            worst_sell_bar(all_data.worst_seller);
            profit_loss(all_data.profit,all_data.loss);
          }, 100);

      },

    }

}



</script>
